<div class="myProfile">
<div class="account">
<div class="link_1"  >
<span class="arrow_yellowBack">BACK</span>
</div>
<img src="../../../assets/images/idMultimediaPhotoPlaceHolder.png" class="photo" alt="idMultimediaPhotoPlaceHolder">
<div class="myDetail">
<p class="text_28">Hi, Omar<br>What your plans today?</p>
<ul class="linkProfile">
<li>
<span onclick="logout();" class="link_2">Logout</span>
</li>
</ul>
</div>
</div>
</div>
<div class="myProfile accountAlertForm">
    <div class="twoOnThreeContent">
    <form action="/alert-list-774.html" method="post" name="accountAlertForm" id="accountAlertForm">
    <input value="" id="doCmd" name="doCmd" type="hidden"><input value="" id="idAccountAlert" name="idAccountAlert" type="hidden">
    <p class="text_14 bold">ALERT LIST</p>
    <br>
    <div class="nrf">
    <p class="text_20 bold">No Active Alert.</p>
    <br>
    <a title="Find more event" class="btn_1" routerLink="/allproducts"><span class="arrow_yellow">Find more event</span></a>
    <br>
    <br>
    </div>
    </form>
    </div>
    </div>