<header id="cntOutHdr">
  <div id="cntInnHdr">
    <div class="header">
      <a class="logo" title="TicketsMarche" href="/">
        <img src="../../assets/icons/TME.svg" alt="TicketsMarche" />
      </a>
      <div id="menuSearch" class="searchCont">
        <input
          onkeyup="callSearch(this);"
          placeholder="Search events, artists, venues..."
          type="text"
          name="cdKeyword"
          class="tmeSearch"
        />
        <!-- <ul id="tmeLink">
              </ul> -->
      </div>
      <ul>
        <li class="icoMenu"><a href="#"> </a></li>
        <li class="icoBasket"><a href="#"> </a></li>
        <li class="icoAccount"><a href="#"> </a></li>
        <li class="icoVenue"><a href="#"> </a></li>
        <li class="icoArab"><a href="#"> </a></li>

      </ul>
    </div>
  </div>
</header>
