div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
p,
blockquote,
fieldset,
input,
textarea {
    font-family: 'akkurat_regularregular';
    font-style: normal;
    font-variant: normal;
    margin: 0px;
    padding: 0px;
}
#cntOutHdr {
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 1000;
}
#cntInnHdr{
    width: 100%;
    padding: 0;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
    position: relative;
    text-align: center;
    display: inline-block;
}
.header {
    border-bottom: 1px solid #cdced1;
    background-color: #fff;
    width: 100%;
    padding: 0;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
    position: relative;
    text-align: left;
    /* display: inline-block; */
}
.header .logo {
    border-right: 1px solid #cdced1;
    float: left;
}
/* .header .logo {
    width: 180px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-right: none;
}

.header .logo img {
    width: 100%;
    height: auto;
} */
.header ul li a{
    width: 70px;
    height: 85px;
    border-left: 1px solid #cdced1;
    /* float: right; */
    cursor: pointer;
    display: inline-block;
}
a {
    text-decoration: none;
    color: #1e1919;
}
li {
    list-style: none;
}
.header ul{
    float: right;
}
.header ul li{
    float: right;
    text-decoration: none;
}
.header ul li:hover a {
    background-color: #f3f3f4;
}

.header ul li.selected a {
    background-color: #ffc200;
    background-position: bottom;
}
.header ul li a {
    width: 70px;
}
.icoBasket a {
    background: url("../../assets/icons/icoBasket.png") top no-repeat;
}

.icoAccount a {
    background: url("../../assets/icons/icoAccount.png") top no-repeat;
}

.icoVenue a {
    background: url("../../assets/icons/icoVenue.png") top no-repeat;
}

.icoArab a {
    background: url("../../assets/icons/icoArab.png") top no-repeat;
}

.icoEng a {
    background: url("../../assets/icons/icoEng.png") top no-repeat;
}
/* .menuSearch {
    position: absolute;
    top: 86px;
    left: 0;
    z-index: 1000;
    min-height: 540px;
    padding-top: 30px;
    background-color: #f3f3f4;
    width: 100%;
    display: none;
    text-align: left;
} */
.header .tmeSearch {
    width: 600px;
    height: 85px;
    float: left;
    padding: 0 0 0 40px;
    border-style: none;
    outline: none;
}

/* .searchCont {
    display: none;
    position: absolute;
    z-index: 110;
    top: 85px;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #cdced1;
} */