<div id="cntPage">
  <div id="cntOutCont">
    <div id="cntInnCont" *ngFor="let p of products.products">
      <form
        action="/the-animals-lawsuit-against-humanity_se_2295.html"
        method="post"
        name="showEventInfoForm"
        id="showEventInfoForm"
      >
        <input value="2295" name="idEvent" id="idEvent" type="hidden" />
        <input
          value=""
          id="idProductCommand"
          name="idProductCommand"
          type="hidden"
        />
        <div class="showSlideShow">
          <div class="singleSlide">
            <img
              alt="Animal Law Suit Slider"
              class="image"
              height="570"
              id="14055"
              src="{{ p.image }}"
              width="1140"
            />
            <div class="info">
              <div class="detail_1 borderBottom">
                <div class="half">
                  <span class="text_10">Date from</span>
                  <h3 class="text_28">{{ p.date }}</h3>
                </div>
                <div class="half">
                  <span class="text_10">TO</span>
                  <h3 class="text_28">{{ p.date }}</h3>
                </div>
                <br clear="all" />
              </div>
              <div class="detail_2">
                <h4 class="text_10">{{p.category}}</h4>
                <h3 class="text_28">{{ p.title }}</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="eventDetail">
          <div class="cntInnSmall">
            <div class="nmInfo oneOnThreeContent">
              <span class="text_10">INFO</span>
              <br />{{p.category}}
            </div>
            <div
              id="nmText"
              class="nmText twoOnThreeContent text_16 toSlide padSlider"
              style="height: 300px"
            >
              <div id="heightText">
                {{ p.desc }}
              </div>
              <!-- <span onclick="slideMin()" id="more" class="link_1"
                >Show more</span> -->
              <!-- <span onclick="slideMin()" id="less" class="link_1"
                >Show less</span
              > -->
            </div>
          </div>
        </div>

        <div class="cntContent taCenter">
          <div class="cntInnContent">
            <table cellspacing="0" cellpadding="0" border="0" class="gridBig">
              <tbody>
                <tr>
                  <td rowspan="2" class="border tdImage">
                    <a
                      class="image"
                      title="{{ p.title }}"
                      href="/tickets/buy-tickets-the-animals-lawsuit-against-humanity-en-18688.html"
                    >
                      <div class="overBox">
                        <p class="text_20">
                          {{ p.date
                          }}<span class="show500"
                            >&nbsp;|&nbsp;{{ p.timing }}</span
                          >
                        </p>
                      </div>
                      <img
                        alt="Animal Law Suit Slider"
                        height="570"
                        id="14055"
                        src="{{ p.image }}"
                        width="1140"
                      />
                    </a>
                  </td>
                  <td>
                    <div class="cell">
                      <span class="label">{{p.category}}</span>
                      <h2 class="text_20 bold">{{p.title}}</h2>
                    </div>
                  </td>
                  <td>
                    <div class="cell">
                      <span class="label">Venue</span>
                      <h3 class="text_18">
                       {{p.venue}},&nbsp;<b> {{p.city}}</b>
                      </h3>
                    </div>
                  </td>
                  <td rowspan="2" class="border">
                    <div class="singleWishList"></div>
                    <a
                      title="{{ p.title }}"
                      class="btn_1"
                      href="/tickets/buy-tickets-the-animals-lawsuit-against-humanity-en-18688.html"
                    >
                      <span class="arrow_yellow">Book now</span>
                    </a>
                  </td>
                </tr>
                <tr class="hide500">
                  <td class="border">
                    <div class="cell">
                      <span class="label">Date</span>
                      <p class="text_18">{{ p.date }}| {{ p.timing }}</p>
                    </div>
                  </td>
                  <td class="border">
                    <div class="cell">
                      <span class="label">Price</span>
                      <p class="text_18">{{ p.price }}</p>
                    </div>
                  </td>
                </tr>
                <tr class="rowSpace hide500">
                  <td colspan="4"></td>
                </tr>

                <tr>
                  <td rowspan="2" class="border tdImage">
                    <a
                      class="image"
                      title="{{ p.title }}"
                      href="/tickets/buy-tickets-the-animals-lawsuit-against-humanity-en-18689.html"
                    >
                      <div class="overBox">
                        <p class="text_20">
                          {{ p.date
                          }}<span class="show500"
                            >&nbsp;|&nbsp;{{ p.timing }}</span
                          >
                        </p>
                      </div>
                      <img
                        alt="Animal Law Suit Slider"
                        height="570"
                        id="14055"
                        src="{{ p.image }}"
                        width="1140"
                      />
                    </a>
                  </td>
                  <td>
                    <div class="cell">
                      <span class="label">{{p.category}}</span>
                      <h2 class="text_20 bold">{{p.title}}</h2>
                    </div>
                  </td>
                  <td>
                    <div class="cell">
                      <span class="label">Venue</span>
                      <h3 class="text_18">
                        {{p.venue}},&nbsp;<b> {{p.city}}</b>
                      </h3>
                    </div>
                  </td>
                  <td rowspan="2" class="border">
                    <div class="singleWishList"></div>
                    <a
                      title="{{ p.title }}"
                      class="btn_1"
                      href="/tickets/buy-tickets-the-animals-lawsuit-against-humanity-en-18689.html"
                    >
                      <span class="arrow_yellow">Book now</span>
                    </a>
                  </td>
                </tr>
                <tr class="hide500">
                  <td class="border">
                    <div class="cell">
                      <span class="label">Date</span>
                      <p class="text_18">{{ p.date }} | {{ p.timing }}</p>
                    </div>
                  </td>
                  <td class="border">
                    <div class="cell">
                      <span class="label">Price</span>
                      <p class="text_18">{{ p.price }}</p>
                    </div>
                  </td>
                </tr>
                <tr class="rowSpace hide500">
                  <td colspan="4"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
