@font-face {
    font-family: 'akkuratbold';
    src: url('../../assets/font/akkurat-bold.woff2') format('woff2'), url('/font/akkurat-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akkurat_regularregular';
    src: url('../../assets/font/akkurat-regular.woff2') format('woff2'), url('/font/akkurat-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_kufi_arabicbold';
    src: url('../../assets/font/notokufiarabic-bold.woff2') format('woff2'), url('../../assets/font/notokufiarabic-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_kufi_arabicregular';
    src: url('../../assets/font/notokufiarabic-regular.woff2') format('woff2'), url('../../assets/font/notokufiarabic-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    font-family: 'akkurat_regularregular';
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #333;
    height: 100%;
    background-color: #fff;
}

img {
    border: 0px;
}

div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
p,
blockquote,
fieldset,
input,
textarea {
    font-family: 'akkurat_regularregular';
    font-style: normal;
    font-variant: normal;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #1e1919;
}

li {
    list-style: none;
}

#cntOutCont {
    width: 100%;
    text-align: center;
}



#cntInnCont {
    padding-bottom: 700px;
}

#cntInnCont {
    background-color: #fff;
}
#cntInnCont {
    width: 100%;
    padding: 0;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
    position: relative;
    text-align: center;
    display: inline-block;
    margin-top: 85px;
}

.showSlideShow {
    position: relative;
    text-align: left;
}

.showSlideShow .singleSlide {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-height: 570px;
}
.showSlideShow .mah {
    /* transition-timing-function: ease-in; */
    opacity: 10;
    animation: slider-animation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* animation-delay: 1s; */
}
@keyframes slider-animation {

    0% {
        opacity: 0;
    }

    6% {
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.showSlideShow .singleSlide img {
    width: 100%;
    height: auto;
}

.no-user-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.half {
    width: 50%;
}

.showSlideShow .singleSlide .info .half {
    float: left;
}

.showSlideShow .singleSlide .info .borderBottom {
    border-bottom: 1px solid #ffc200;
}

.showSlideShow .singleSlide .info .detail_1 {
    padding: 20px 20px 13px 35px;
    background-color: #231f20;
}

.showSlideShow .singleSlide .info .text_10,
.showSlideShow .singleSlide .info .text_18,
.showSlideShow .singleSlide .info .text_28,
.showSlideShow .singleSlide .info .text_34 {
    color: #fff;
}


.showSlideShow .singleSlide .info .detail_2 .text_10 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
}

.showSlideShow .singleSlide .info .detail_3 {
    padding: 20px 20px 13px 35px;
    background: #1f191a;
}

.showSlideShow .singleSlide .wishList {
    background-color: #b6b6b5;
    position: absolute;
    bottom: 0;
    right: 8.33%;
    width: 257px;
}

@media screen and (max-width:770px) {
    .showSlideShow .singleSlide .info {
        left: 0;
        width: 41.33%;
    }
}

.showSlideShow .singleSlide .info {
    position: relative;
    width: 100%;
}

.showSlideShow .singleSlide .info {
    position: absolute;
    bottom: 0;
    left: 8.33%;
    width: 33%;
}

.showSlideShow .singleSlide .info .cdEventTemplateType {
    margin-top: -28px;
}

.showSlideShow .singleSlide .info .detail_2 {
    background-color: #231f20;
    min-height: 50px;
}

.showSlideShow .singleSlide .wishList {
    display: none;
}

.cdEventTemplateType {
    background-color: #ffc200;
    color: #231f20;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    font-size: 14px;
}

.borderBottom {
    border-bottom: 1px solid #1e1919;
}

.controller {
    position: absolute;
    bottom: 5%;
    width: 100%;
    text-align: center;
}


.controllerInn {
    display: inline-block;
    position: absolute;
    z-index: 100;
}

.slideEmpty {
    width: 9px;
    height: 9px;
    display: inline-block;
    background: url("../../assets/icons/slideEmpty.png") top left no-repeat;
    margin: 0 5px;
    cursor: pointer;
}

.slideEmpty.slideFull {
    opacity: 50%;
    width: 9px;
    height: 9px;
    display: inline-block;
    background: url("../../assets/icons/slideFull.png") top left no-repeat;
    margin: 0 5px;
}
.slideEmpty.slideFull:hover {
   opacity: 100%;
}

.btn_1 {
    font-family: 'akkuratbold';
    background-color: #1e1919;
    display: inline-block;
    min-height: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 100%;
    border: none;
    font-size: 16px;
    color: #ffc200 !important;
    font-weight: 400;
    letter-spacing: 0.12em;
    line-height: 20px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    -webkit-appearance: none;
}

.btn_1:hover {
    background-color: #ffc200;
    color: #272525 !important;
}

.btn_1:hover .arrow_yellow {
    background: url("../../assets/icons/arrow_brown.png") right no-repeat;
}

.arrow_yellow {
    background: url("../../assets/icons/arrow_yellow.png") right no-repeat;
    padding-right: 50px;
    display: inline-block;
}

.arrow_brown {
    background: url("../../assets/icons/arrow_brown.png") right no-repeat;
    padding-right: 50px;
    display: inline-block;
}

.showIncomingEventList {
    padding: 40px 0 20px 0;
    background-color: #fff;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.showIncomingEventList .list_1 {
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;
    width: 90%;
}

.showIncomingEventList .list_1 .singleEvent_1 {
    width: 22%;
    margin: 0 1.5%;
    float: left;
    display: inline-block;
    text-align: left;
}

.showIncomingEventList .list_1 .singleEvent_1 .nmEvent {
    height: 85px;
    padding: 0 15px;
    background-color: #f2f3f3;
    position: relative;
}

.showIncomingEventList .list_1 .singleEvent_1 .nmEvent .text_20 {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.showIncomingEventList .list_1 .singleEvent_1 .image {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.showIncomingEventList .list_1 .singleEvent_1 .image .cdEventTemplateType {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    opacity: 1;
}

.showIncomingEventList .list_1 .singleEvent_1:hover .image .cdEventTemplateType {
    opacity: 0;
}

.showIncomingEventList .list_1 .singleEvent_1 .image img {
    height: auto;
    width: 100%;
    position: relative;
    z-index: 6;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    opacity: 1;
}

.showIncomingEventList .list_1 .singleEvent_1:hover .image img {
    opacity: 0;
}

.showIncomingEventList .list_1 .singleEvent_1 .image .info {
    background-color: #ffc200;
    /* height: calc(100% - 40px); */
    /* width: calc(100% - 40px); */
    padding: 20px;
    color: #272525;
    position: absolute;
    z-index: 3;
}

.link_1,
.link1 {
    color: #1e1919;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    background: none;
}

.link_1 .arrow_yellowBack {
    color: #ffc200;
}

.link_1:hover {
    text-decoration: underline;
}

.showIncomingEventList .link_1,
.showHpEventList .link_1,
.showHotEventList .link_1 {
    color: #6d6e71;
}

@media screen and (max-width:880px) {
    .showIncomingEventList .list_1 .singleEvent_1 {
        width: 45%;
        margin: 0 2.5% 2.5% 2.5%;
    }
}

@media screen and (max-width:760px) {
    .text_36 {
        font-size: 32px;
        color: #1e1919;
        font-weight: normal;
    }

    .text_18 {
        font-size: 16px;
        color: #1e1919;
        font-weight: normal;
    }
}

@media screen and (max-width:500px) {
    .showIncomingEventList .list_1 .singleEvent_1 {
        width: 90%;
        margin: 0 5% 5% 5%;
    }
}

@media screen and (max-width:630px) {
    .hide630 {
        display: none;
    }

    .show630 {
        display: inline-block;
    }

    .controller {
        top: 5%;
    }

    .twoOnThreeContent .singleEvent_2,
    .oneOnThreeContent .list_2 .singleEvent_2 {
        width: 45%;
        margin: 0 2.5% 35px 2.5%;
    }

    .showSlideShow .singleSlide .info {
        position: relative;
        width: 100%;
    }

    .showSlideShow .singleSlide .info .cdEventTemplateType {
        margin-top: -28px;
    }

    .showSlideShow .singleSlide .info .detail_2 {
        background-color: #231f20;
        min-height: 50px;
    }

    .showSlideShow .singleSlide .wishList {
        display: none;
    }
}

.text_48 {
    font-size: 48px;
    color: #1e1919;
    font-weight: normal;
}

.text_36 {
    font-size: 36px;
    color: #1e1919;
    font-weight: normal;
}

.text_34 {
    font-size: 34px;
    color: #1e1919;
    font-weight: normal;
}

.text_28 {
    font-size: 28px;
    color: #1e1919;
    font-weight: normal;
}

.text_20 {
    font-size: 20px;
    color: #1e1919;
    font-weight: normal;
    /* padding: 0px !important; */

}

.text_18 {
    font-size: 18px;
    color: #1e1919;
    font-weight: normal;
}

.text_16 {
    font-size: 16px;
    color: #1e1919;
    font-weight: normal;
}

.text_14,
.text_14 p {
    font-size: 14px;
    color: #1e1919;
}

.text_14 p {
    margin-bottom: 20px;
}

.text_10 {
    font-size: 10px;
    color: #272525;
    text-transform: uppercase;
    margin-bottom: 8px;
    display: inline-block;
}

.hide630 {
    display: inline-block;
}

.show630 {
    display: none;
}



@media screen and (max-width:1140px) {
    .showHpEventList.twoOnThreeContent {
        width: 85.33%;
        padding-left: 7.335%;
        padding-right: 7.335%;
    }

    .showHotEventList.oneOnThreeContent {
        width: 85.33%;
        padding-left: 7.335%;
        padding-right: 7.335%;
    }
}

.twoOnThreeContent {
    width: 66.66%;
    padding: 0;
    overflow: visible;
    position: relative;
    text-align: left;
    display: inline-block;
}

.oneOnThreeContent {
    width: 33.33%;
    padding: 0;
    overflow: visible;
    position: relative;
    text-align: left;
    display: inline-block;
}

.twoOnThreeContent .singleEvent_2 {
    width: 20%;
    margin: 0 2.5% 35px 2.5%;
    float: left;
    display: inline-block;
}

.list_2 {
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
}

.oneOnThreeContent .list_2 .singleEvent_2 {
    width: 40%;
    margin: 0 5% 35px 5%;
    float: left;
    display: inline-block;
}


.list_2 .singleEvent_2 .image {
    width: 100%;
    /* height: 97px; */
    overflow: hidden;
    position: relative;
}

.showHpEventList {
    background-color: #e7e7e8;
    padding-top: 40px;
    padding-bottom: 20px;
}

.showHpEventList.twoOnThreeContent {
    /* width: 58.66%; */
    padding-left: 3%;
    padding-right: 3%;
    float: left;
}

.showHotEventList {
    background-color: #f3f3f4;
    padding-top: 40px;
    padding-bottom: 39px;
}

.showHotEventList.oneOnThreeContent {
    /* width: 29.33%; */
    padding-left: 3%;
    padding-right: 3%;
    float: right;
}

.showSlideShow .singleSlide .info .detail_2 {
    min-height: 125px;
    padding: 20px 20px 13px 35px;
    background: #231f20;
    background: -moz-linear-gradient(top, rgba(35, 31, 32, 1) 0%, rgba(15, 13, 13, 1) 58%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-linear-gradient(top, rgba(35, 31, 32, 1) 0%, rgba(15, 13, 13, 1) 58%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, rgba(35, 31, 32, 1) 0%, rgba(15, 13, 13, 1) 58%, rgba(0, 0, 0, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#231f20', endColorstr='#cc000000', GradientType=0);
}

.list_2 .singleEvent_2 .image .cdEventTemplateType {
    position: relative;
    right: 0;
    top: 0;
    background-color: #ffc200;
    z-index: 10;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
}

.list_2 .singleEvent_2 .image .cdEventTemplateType {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #ffc200;
    z-index: 10;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    opacity: 1;
}

.list_2 .singleEvent_2:hover .image .cdEventTemplateType {
    opacity: 0;
}

.list_2 .singleEvent_2 .image img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 6;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    opacity: 1;
}

.list_2 .singleEvent_2:hover .image img {
    opacity: 0;
}

.list_2 .singleEvent_2 .image .info {
    background-color: #ffc200;
    /* height: calc(100% - 20px); */
    /* width: calc(100% - 20px); */
    padding: 10px;
    color: #272525;
    position: absolute;
    z-index: 3;
    font-size: 12px;
}

.list_2 .singleEvent_2 .nmEvent {
    color: #1e1919;
    font-size: 12px;
    height: 55px;
    padding: 9px 10px 0 12px;
    background-color: #d3d3d3;
    position: relative;
}

.taCenter {
    text-align: center !important;
}