<div id="cntOutCont">
    <div id="cntInnCont">
        <div class="cntInnContent">
            <div class="navigator">
                <h1 class="text_36">Contact Us</h1>
                <div onclick="document.location = 'historyBack.html'" class="link_1">
                    <span class="arrow_yellowBack">BACK</span>
                </div>
                <br clear="all">
            </div>
        </div>

        <section class="sendMail">
            <ul class="callNow">
                <li class="text_14 bold">NEED HELP? CALL NOW</li>
                <li><span class="text_36 icoCustomerSupport">16826/+202
                        24637000</span></li>
                <li><span class="text_18 icoCustomerSupportWA"><a href="https://wa.me/201008425387">201008425387</a><br>
                        <p></p>
                        <br>+20100TICKETS<br>
                    </span>
                    <br><br><span class="text_18">10am - 10pm / Everyday</span>
                </li>
            </ul>

            <form [formGroup]="myContactFormValidation" action="/contact-us.html" method="post" name="sendEmailForm"
                id="sendEmailForm">
                <input value="Contact us" id="subject" name="subject" type="hidden">
                <input value="" id="message" name="message" type="hidden">
                <div class="inputArea">
                    <div class="row">
                        <div class="cell twoOfFour">
                            <p class="text_14 bold">OR WRITE US HERE</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell twoOfFour">
                            <label>First name</label>
                            <input formControlName="Fname" id="nmFirstName" name="SendMailInfo.nmFirstName"
                                required="required" type="text">

                        </div>
                        <div class="cell twoOfFour">
                            <label>Last name</label>
                            <input formControlName="Lname" id="nmLastName" name="SendMailInfo.nmLastName"
                                required="required" type="text">
                        </div>
                    </div>

                    <div class="row">
                        <div class="cell twoOfFour">
                            <label>E-mail</label>
                            <input id="ulEmail" name="SendMailInfo.ulEmail" formControlName="Email" required="required"
                                type="email">
                        </div>
                        <div class="cell twoOfFour">
                            <label>Mobile</label>
                            <input id="noPhone" formControlName="Mobile" name="SendMailInfo.noPhone" required="required"
                                type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell fourOfFour">
                            <label>Your message</label>
                            <textarea formControlName="Massage" id="dsMessage" name="SendMailInfo.dsMessage"
                                required="required" rows="5" spellcheck="true"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div id="cdDocumentFile" class="cell fourOfFour">
                            <p id="uplaodText" class="text_10 taCenter">Upload Word or Adobe PDF, max size 2Mb.</p>
                            <input onclick="$('#filename').click();" value="Upload file" type="button" class="btn_1">
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell fourOfFour">
                            <div class="checkboxRow">
                                <input value="1" formControlName="Auth" name="haveAuthTermsAndConditions"
                                    type="checkbox">
                                <div (click)="clicc()" class="checkboxInput" [class.checked]="cslicc">&nbsp;</div>
                                <p class="text_14 ">I agree with the <a
                                        href="http://www.ticketsmarche.com/privacy-policy_sc_38.html"
                                        title="privacy policy">privacy policy</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell fourOfFour">
                            <script src="https://www.google.com/recaptcha/api.js?hl=en"></script>
                            <div data-sitekey="6Ldc0h4UAAAAANwJcGk77A1_XKjVb5Hs5p5ciCK0" class="g-recaptcha">
                                <div style="width: 304px; height: 78px;">
                                    <div><iframe title="reCAPTCHA"
                                            src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6Ldc0h4UAAAAANwJcGk77A1_XKjVb5Hs5p5ciCK0&amp;co=aHR0cHM6Ly93d3cudGlja2V0c21hcmNoZS5jb206NDQz&amp;hl=en&amp;v=Ixi5IiChXmIG6rRkjUa1qXHT&amp;size=normal&amp;cb=2wtiav53ard2"
                                            width="304" height="78" role="presentation" name="a-g5p28p7b3zqg"
                                            frameborder="0" scrolling="no"
                                            sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe>
                                    </div>
                                    <textarea id="g-recaptcha-response" name="g-recaptcha-response"
                                        class="g-recaptcha-response"
                                        style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
                                </div><iframe style="display: none;"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="cell fourOfFour">

                            <button (click)="sendData()" name="doSendMail" class="btn_2" type="submit">
                                <span class="arrow_brown">Send message</span>
                            </button>
                        </div>
                    </div>


                    <div *ngIf="nameValid">
                        <p class="alert alert-success">{{tmeSendMail()}}</p>
                    </div>

                </div>
            </form>

        </section>
        <div name="addAttach" id="addAttach">
            <form target="upload_target" enctype="multipart/form-data" action="/tmeuploadmedia.job" method="post"
                id="uploadFileForm">
                <input onchange="doUploadFile();" value="" type="file" name="filename" id="filename"><br>
                <iframe style="width: 0; height: 0;" src="" name="upload_target" id="upload_target">&nbsp;</iframe>
            </form>
        </div>
    </div>
</div>
<div
    style="background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 3px; position: absolute; transition: visibility 0s linear 0.3s, opacity 0.3s linear 0s; opacity: 0; visibility: hidden; z-index: 2000000000; left: 0px; top: -10000px;">
    <div
        style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; z-index: 2000000000; background-color: rgb(255, 255, 255); opacity: 0.05;">
    </div>
    <div class="g-recaptcha-bubble-arrow"
        style="border: 11px solid transparent; width: 0px; height: 0px; position: absolute; pointer-events: none; margin-top: -11px; z-index: 2000000000;">
    </div>
    <div class="g-recaptcha-bubble-arrow"
        style="border: 10px solid transparent; width: 0px; height: 0px; position: absolute; pointer-events: none; margin-top: -10px; z-index: 2000000000;">
    </div>
    <div style="z-index: 2000000000; position: relative;">
        <iframe title="recaptcha challenge expires in two minutes"
            src="https://www.google.com/recaptcha/api2/bframe?hl=en&amp;v=Ixi5IiChXmIG6rRkjUa1qXHT&amp;k=6Ldc0h4UAAAAANwJcGk77A1_XKjVb5Hs5p5ciCK0"
            name="c-g5p28p7b3zqg" frameborder="0" scrolling="no"
            sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"
            style="width: 100%; height: 100%;"></iframe>
    </div>
</div>
<iframe id="_JSBridgeIframe_1.0" title="jsbridge_JSBridgeIframe_1.0_" style="display: none;"></iframe>
<iframe id="_JSBridgeIframe_SetResult_1.0" title="jsbridge_JSBridgeIframe_SetResult_1.0_"
    style="display: none;"></iframe>
<iframe id="_JSBridgeIframe" title="jsbridge_JSBridgeIframe_" style="display: none;"></iframe>
<iframe id="_JSBridgeIframe_SetResult" title="jsbridge_JSBridgeIframe_SetResult_" style="display: none;"></iframe>