<!-- <div class="row">
  <div
    class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left w-75 mt-30 mb-30 p-40"
    *ngFor="let a of title"
  >
    <h2>{{ a.title }}</h2>
    <p>{{ a.data }}</p>
  </div>
</div> -->

<div id="cntOutCont">
  <div id="cntInnCont">
    <section xmlns:mm="xalan://it.blabs.xslt.MultimediaExt" class="showNews">
      <div class="navigator" >
        <h1 class="text_36" *ngFor="let t of title.About">{{ t.title }}</h1>
        <div onclick="document.location = 'historyBack.html'" class="link_1">
          <span class="arrow_yellowBack">BACK</span>
        </div>
        <br clear="all" />
      </div>
      <div class="nmText text_16 cntInnSmall"  *ngFor="let a of body.About" >
        <p>{{ a.body }}</p>
        <p>{{ a.bodyone}}</p>
        <p>{{ a.bodytwo}}</p>
      </div>
    </section>
  </div>
</div>
