

<div class="myProfile">
    <div class="account">
    <div class="link_1">
    <span class="arrow_yellowBack">BACK</span>
    </div>
    <img src="../../../assets/images/idMultimediaPhotoPlaceHolder.png" class="photo" alt="idMultimediaPhotoPlaceHolder">
    <div class="myDetail">
    <p class="text_28">Hi, Omar<br>What your plans today?</p>
    <ul class="linkProfile">
    <li>
    <span onclick="logout();" class="link_2">Logout</span>
    </li>
    </ul>
    </div>
    </div>
    </div>
    <div class="myProfile accountProductOrderList">
    <div class="twoOnThreeContent">
    <p class="text_14 bold">YOUR UPCOMING EVENTS</p>
    <div class="list_2">
    <div class="nrf">
    <p class="text_20 bold">You have No upcoming events.</p>
    <br>
    <a title="Find your special event" class="btn_1" href="/all-tickets-on-sale.html">
    <span class="arrow_yellow">Find your special event</span>
    </a>
    </div>
    </div>
    </div>
    </div>
 
