<!-- <p>login works!</p> -->
<!-- <p>register works!</p> -->

<div id="cntPage">
  <div class="login halfCheckout">
    <form [formGroup]="Userloginvalidation" (ngsubmit)="login()">
    <div class="inputArea">
      <div class="row">
        <div class="cell twoOfFour">
          <p class="text_14 bold">Login</p>
        </div>
      </div>
      <div class="row">
        <div class="cell twoOfFour">
          <span class="label">E-mail :</span>
          <input type="email"  formControlName="useremail">
          <span style="color: red;" *ngIf="UseremailValid && UseremailValid.invalid && UseremailValid.touched">*enter valid e-mail</span><br>
        </div>
      </div>
      <div class="row">
        <div class="cell twoOfFour">
          <span class="label">Password or &nbsp; <a class="link_3" href="#">Forgot Password</a></span>
          <input type="password"  formControlName="userpassword">
          <span style="color: red;" *ngIf="UserpassValid && UserpassValid.invalid && UserpassValid.touched">*required</span><br>
        </div>
      </div>
      <div class="row">
        <div class="fourOfFour">
          <button [disabled]="Userloginvalidation.invalid" routerLink="profile" type="submit" class="btn_2">
            <span class="arrow_brown">Login</span>
          </button>
        </div>
      </div>
    </div>
    </form>
  </div>
</div>
