<div class="myMenu">
    <ul>
    <li  [routerLinkActiveOptions]="{exact:true}" routerLinkActive="selected"  class="sz_5">
    <a title="Personal Info"  [routerLink]="['personalinfo',7]" class="my_personalInfo">Personal Info</a>
    </li>
    <li [routerLinkActiveOptions]="{exact:true}" routerLinkActive="selected" class=" sz_5">
    <a title="Your events" [routerLink]="['yourevent',7]" class="my_futureBookings">Your events</a>
    </li>
    <li [routerLinkActiveOptions]="{exact:true}" routerLinkActive="selected" class=" sz_5">
    <a title="Watch List"  [routerLink]="['watchlist',7]" class="my_theWatchList">Watch List</a>
    </li>
    <li [routerLinkActiveOptions]="{exact:true}" routerLinkActive="selected" class=" sz_5">
    <a title="Orders list" [routerLink]="['orderlist',7]" class="my_showOrderList">Orders list</a>
    </li>
    <li [routerLinkActiveOptions]="{exact:true}" routerLinkActive="selected" class=" sz_5">
    <a title="Alert list"  [routerLink]="['alertlist',7]" class="my_alertList">Alert list</a>
    </li>
    </ul>
</div>
