<html lang="en">

<head>
  <title>Harvest vase</title>
  <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi"
   rel="stylesheet">
   <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>

<body>

<!-- As a heading -->

  <div class="container">

    <nav class="navbar bg-light">
      <div class="container-fluid">
        <span id="all" class="navbar-brand mb-0 h1">All Product
        <span class="back" style="color: #FFC200;">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="40" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        <span >&nbsp;BACK</span>
        </span>
        </span>
      </div>
    </nav>
  <div class="wrapper">
    <div class="product-img">
      <img src="../../assets/images/webthumb+TM+AAF+shows-18.jpg" >
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>OTHER EVENTS</h1>
        <!-- <h2 >by studio and friends</h2> -->
        <p>Opportunities for youth in
          MENA in the Creative and Cultural Industries
          (international)
           </p>
            <tr class="hide500">

                <td class="bord">
                <div class="cell">
                <h2 class="label">Date</h2>
                <p class="text_18">30 October 2022 | 10:00</p>
                </div>
                </td>

                <td class="bord">
                <div class="cell">
                <h2 class="label">Price</h2>
                <p class="text_18">EGP&nbsp;0</p>
                </div>
                </td>
            </tr>

            <div class="product-price-btn">
              <button type="button">BOOK NOW</button>
            </div>
      </div>
      <hr>
    </div>
  </div>


  <div class="wrapper">
    <div class="product-img">
      <img src="../../assets/images/webthumb+TM+AAF+shows-18.jpg" >
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>OTHER EVENTS</h1>
        <!-- <h2 >by studio and friends</h2> -->
        <p>Opportunities for youth in
          MENA in the Creative and Cultural Industries
          (international)
           </p>
            <tr class="hide500">

                <td class="bord">
                <div class="cell">
                <h2 class="label">Date</h2>
                <p class="text_18">30 October 2022 | 10:00</p>
                </div>
                </td>

                <td class="bord">
                <div class="cell">
                <h2 class="label">Price</h2>
                <p class="text_18">EGP&nbsp;0</p>
                </div>
                </td>
            </tr>

            <div class="product-price-btn">
              <button type="button">BOOK NOW</button>
            </div>
      </div>
      <hr>
    </div>
  </div>



  <div class="wrapper">
    <div class="product-img">
      <img src="../../assets/images/webthumb+TM+AAF+shows-18.jpg" >
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>OTHER EVENTS</h1>
        <!-- <h2 >by studio and friends</h2> -->
        <p>Opportunities for youth in
         the Creative and Cultural Industries
          (international)
           </p>
            <tr class="hide500">

                <td class="bord">
                <div class="cell">
                <h2 class="label">Date</h2>
                <p class="text_18">30 October 2022 | 10:00</p>
                </div>
                </td>

                <td class="bord">
                <div class="cell">
                <h2 class="label">Price</h2>
                <p class="text_18">EGP&nbsp;0</p>
                </div>
                </td>
            </tr>

            <div class="product-price-btn">
              <button type="button">BOOK NOW</button>
            </div>
      </div>
      <hr>
    </div>
  </div>

</div>
</body>

</html>

