input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #000;
  border-radius: 4px;
  background-color: #f8f8f8;
}
input[type=number] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #000;
  border-radius: 4px;
  background-color: #f8f8f8;
}
input[type=date] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #000;
  border-radius: 4px;
  background-color: #f8f8f8;
}
input[type=submit] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #000;
  border-radius: 4px;
  background-color: #f8f8f8;
}
input[type=file] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #000;
  border-radius: 4px;
  background-color: #f8f8f8;
}
select{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #000;
  border-radius: 4px;
  background-color: #f8f8f8;
}
textarea {
  width: 50%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #000;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
label{
  font-size: large;
}
.inside-content {
  width: 100%;
  padding: 10px;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  position: relative;
  text-align: center;
  display: inline-block;
  margin-top: 92px;
}
