<!-- <p>admin-register works!</p> -->

<form [formGroup]="registerAdminValidation" (ngSubmit)="data()">
  <div class="form-group m-3 d-flex justify-content-center">
    <label for="">First Name :</label>
    <input type="text" name="FirstName" formControlName="FirstName" ><br>

    <label for="">Last Name :</label>
    <input type="text" name="LastName" formControlName="LastName"><br>

    <label for="">E-mail :</label>
    <input type="email" name="Email" formControlName="E_mail"><br>

    <label for="">Password :</label>
    <input type="password" name="password" formControlName="Password"><br>

    <label for="">Confirm Password :</label>
    <input type="password" name="ConfirmPass" formControlName="ConfirmPass"><br>
    <div style="color: green;" *ngIf=" confirmValid == PassValid "> match</div>

    <input type="submit" value="register" >
  </div>
</form>
