<div id="cntOutHdr ">
  <div id="cntInnCont">
    <form>
      <label>upload product's image : </label>
      <input type="file" placeholder="upload product image" />

      <label>Enter product's label : </label>
      <input type="text" placeholder="enter title" />

      <label>Enter product's description :</label>
      <textarea></textarea>

      <label>Enter product's price : </label>
      <input type="number" placeholder="enter price" />

      <label>Events date : </label>
      <input type="date" placeholder="enter price" />

      <label>Events timing : </label>
      <input type="number" placeholder="enter timing" />

      <select>
        <option>AM</option>
        <option>PM</option>
      </select>

      <input type="submit" value="ENTER DATA" />
    </form>
  </div>
</div>
