<div id="cntPage">
  <header id="cntOutHdr">
    <div id="cntInnHdr">

      <div class="header">
        <a title="TicketsMarche" href="/" class="logo">
          <img alt="TicketsMarche" src="/img/tme-www/TME.svg" />
        </a>
        <div id="menuSearch" class="searchCont">
          <input
            onkeyup="callSearch(this);"
            placeholder="Search events, artists, venues..."
            type="text"
            name="cdKeyword"
            class="tmeSearch"
          />
          <ul id="tmeLink"></ul>
        </div>
        <ul>
          <li
            onclick="$('#menuHeader').slideToggle(); $(this).toggleClass('selected');"
            class="icoMenu"
          >
            <a title="Menu">&nbsp;</a>
          </li>
          <li
            onclick="$('#menuSearch').slideToggle(); $(this).toggleClass('selected');"
            class="icoHeaderSearch show630"
          >
            <a title="Search">&nbsp;</a>
          </li>
          <li class="icoBasket hide630">
            <a href="/checkout_sc_19.html" title="Checkout">&nbsp;</a>
          </li>
          <li class="icoAccount hide630">
            <a href="/personal-info.html" title="Personal Info">&nbsp;</a>
          </li>
          <li class="icoVenue hide630">
            <a href="/locate-our-outlets.html" title="Locate Our Outlets"
              >&nbsp;</a
            >
          </li>
          <li class="icoArab hide630">
            <a href="/?changeLanguageTo=ar" title="Arab">&nbsp;</a>
          </li>
        </ul>
      </div>
      <div id="menuHeader" element="principal" class="menuHeader">
        <ul class="menuMobile show630">
          <li class="icoBasket">
            <a href="/checkout_sc_19.html" title="Checkout">&nbsp;</a>
          </li>
          <li class="icoAccount">
            <a href="/personal-info.html" title="Personal Info">&nbsp;</a>
          </li>
          <li class="icoVenue">
            <a href="/locate-our-outlets.html" title="Locate Our Outlets"
              >&nbsp;</a
            >
          </li>
          <li class="icoArab">
            <a href="/?changeLanguageTo=ar" title="Arab">&nbsp;</a>
          </li>
        </ul>
        <ul>
          <li class="text_18 hide630">That’s everything we’ve got</li>
          <li>
            <a
              title="All Tickets on Sale"
              href="/all-tickets-on-sale.html"
              class="text_36"
              >All Tickets on Sale</a
            >
          </li>
          <li>
            <a title="Hot Events" href="/hot-events.html" class="text_36"
              >Hot Events</a
            >
          </li>
          <li>
            <a
              title="Locate Our Outlets"
              href="/locate-our-outlets.html"
              class="text_36"
              >Locate Our Outlets</a
            >
          </li>
          <li>
            <a
              title="Ticket Your Event"
              href="/ticket-your-event.html"
              class="text_36"
              >Ticket Your Event</a
            >
          </li>
          <li>
            <a title="FAQs" href="/faqs.html" class="text_36">FAQs</a>
          </li>
        </ul>
        <ul>
          <li class="text_18 hide630">Tickets Marche</li>
          <li>
            <a title="About us" href="/about-us-2177.html" class="text_36"
              >About us</a
            >
          </li>
          <li>
            <a title="Our Policies" href="/our-policies.html" class="text_36"
              >Our Policies</a
            >
          </li>
          <li>
            <a title="Contact Us" href="/contact-us.html" class="text_36"
              >Contact Us</a
            >
          </li>
          <li>
            <a title="Careers" href="/careers-2179.html" class="text_36"
              >Careers</a
            >
          </li>
          <li class="text_18 hide630">Need Help?</li>
          <li>
            <span class="text_36 icoCustomerSupport">16826/+202 24637000</span>
            <br />
            <span class="text_18">10am - 10pm / Everyday</span>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <div id="cntOutCont">
    <div id="cntInnCont">
      <form
        action="/the-animals-lawsuit-against-humanity_se_2295.html"
        method="post"
        name="showEventInfoForm"
        id="showEventInfoForm"
      >
        <input value="2295" name="idEvent" id="idEvent" type="hidden" />
        <input
          value=""
          id="idProductCommand"
          name="idProductCommand"
          type="hidden"
        />
        <div class="showSlideShow">
          <div class="singleSlide">
            <img
              alt="Animal Law Suit Slider"
              class="image"
              height="570"
              id="14055"
              src="/mm/Animal+Slider.jpg"
              width="1140"
            />
            <div class="info">
              <div class="detail_1 borderBottom">
                <div class="half">
                  <span class="text_10">Date from</span>
                  <h3 class="text_28">10 Nov</h3>
                </div>
                <div class="half">
                  <span class="text_10">TO</span>
                  <h3 class="text_28">10 Nov</h3>
                </div>
                <br clear="all" />
              </div>
              <div class="detail_2">
                <h4 class="text_10">Art &amp; Theater</h4>
                <h3 class="text_28">The Animals' Lawsuit Against Humanity</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="eventDetail">
          <div class="cntInnSmall">
            <div class="nmInfo oneOnThreeContent">
              <span class="text_10">INFO</span>
              <br />Theatrical show
            </div>
            <div
              id="nmText"
              class="nmText twoOnThreeContent text_16 toSlide padSlider"
              style="height: 300px"
            >
              <div id="heightText">
                <h4>
                  <strong>THE LAWSUIT OF THE ANIMALS AGAINST HUMANITY</strong>
                </h4>
                <h4>
                  This enchanting tale about ‘animal rights ‘was written in the
                  10<sup>th</sup> century by a Sufi group in Basra. It starts
                  with the animals living in peace on a beautiful island ruled
                  by the Earth Goddess, Queen Gaia. After a big thunderstorm,
                  humans are shipwrecked on the island. As events unfold,
                  destruction begins, and tensions rise between the animals and
                  the humans, and the animals go to complain to Queen Gaia.
                  Representatives from both sides present their arguments. Once
                  done they await eagerly Queen Gaia’s verdict.
                </h4>
                <h4>
                  <strong>ACT </strong>is a group comprised of folks who are
                  passionate about theatre and are committed to sharing this
                  passion with the community at large.&nbsp;
                </h4>
                <h4>
                  Created in 2009 ACT strives to engage audiences of all ages in
                  an ongoing dialogue of ideas, and to encourage cooperative
                  work and lifelong learning as a core community value. Through
                  productions, outreach and educational activities, ACT aspires
                  to use theatre to challenge, thrill and galvanize what is best
                  in the human soul.
                </h4>
                <div class="share">
                  <a
                    href="https://www.facebook.com/sharer/sharer.php?u=https://www.ticketsmarche.com/the-animals-lawsuit-against-humanity_se_2295.html"
                    onclick="window.open(this.href, 'mywin','width=500,height=500'); return false;"
                    target="_blank"
                    class="shareFacebook"
                    >&nbsp;</a
                  >
                  <a
                    href="https://twitter.com/intent/tweet?text=The Animals' Lawsuit Against Humanity&amp;url=https://www.ticketsmarche.com/the-animals-lawsuit-against-humanity_se_2295.html&amp;via=ticketsmarche"
                    onclick="window.open(this.href, 'mywin',',width=500,height=500'); return false;"
                    target="_blank"
                    class="shareTwitter"
                    >&nbsp;</a
                  >
                </div>
              </div>
              <span onclick="slideMin()" id="more" class="link_1"
                >Show more</span
              >
              <span onclick="slideMin()" id="less" class="link_1"
                >Show less</span
              >
            </div>
          </div>
        </div>
        <div class="cntContent taCenter">
          <div class="cntInnContent">
            <table cellspacing="0" cellpadding="0" border="0" class="gridBig">

              <tbody>
                <tr>
                  <td rowspan="2" class="border tdImage">
                    <a
                      class="image"
                      title="Book now The Animals' Lawsuit Against Humanity"
                      href="/tickets/buy-tickets-the-animals-lawsuit-against-humanity-en-18688.html"
                    >
                      <div class="overBox">
                        <p class="text_20">
                          10 November<span class="show500"
                            >&nbsp;|&nbsp;18:00</span
                          >
                        </p>
                      </div>
                      <img
                        alt="Animal Law Suit Slider"
                        height="570"
                        id="14055"
                        src="/mm/Animal+Slider.jpg"
                        width="1140"
                      />
                    </a>
                  </td>
                  <td>
                    <div class="cell">
                      <span class="label">Art &amp; Theater</span>
                      <h2 class="text_20 bold">
                        The Animals' Lawsuit Against Humanity
                      </h2>
                    </div>
                  </td>
                  <td>
                    <div class="cell">
                      <span class="label">Venue</span>
                      <h3 class="text_18">
                        AUC Al Falaki Theatre,&nbsp;<b>Cairo</b>
                      </h3>
                    </div>
                  </td>
                  <td rowspan="2" class="border">
                    <div class="singleWishList"></div>
                    <a
                      title="Book now The Animals' Lawsuit Against Humanity"
                      class="btn_1"
                      href="/tickets/buy-tickets-the-animals-lawsuit-against-humanity-en-18688.html"
                    >
                      <span class="arrow_yellow">Book now</span>
                    </a>
                  </td>
                </tr>
                <tr class="hide500">
                  <td class="border">
                    <div class="cell">
                      <span class="label">Date</span>
                      <p class="text_18">10 November 2022 | 18:00</p>
                    </div>
                  </td>
                  <td class="border">
                    <div class="cell">
                      <span class="label">Price</span>
                      <p class="text_18">EGP&nbsp;150</p>
                    </div>
                  </td>
                </tr>
                <tr class="rowSpace hide500">
                  <td colspan="4"></td>
                </tr>

                <tr>
                  <td rowspan="2" class="border tdImage">
                    <a
                      class="image"
                      title="Book now The Animals' Lawsuit Against Humanity"
                      href="/tickets/buy-tickets-the-animals-lawsuit-against-humanity-en-18689.html"
                    >
                      <div class="overBox">
                        <p class="text_20">
                          10 November<span class="show500"
                            >&nbsp;|&nbsp;20:00</span
                          >
                        </p>
                      </div>
                      <img
                        alt="Animal Law Suit Slider"
                        height="570"
                        id="14055"
                        src="/mm/Animal+Slider.jpg"
                        width="1140"
                      />
                    </a>
                  </td>
                  <td>
                    <div class="cell">
                      <span class="label">Art &amp; Theater</span>
                      <h2 class="text_20 bold">
                        The Animals' Lawsuit Against Humanity
                      </h2>
                    </div>
                  </td>
                  <td>
                    <div class="cell">
                      <span class="label">Venue</span>
                      <h3 class="text_18">
                        AUC Al Falaki Theatre,&nbsp;<b>Cairo</b>
                      </h3>
                    </div>
                  </td>
                  <td rowspan="2" class="border">
                    <div class="singleWishList"></div>
                    <a
                      title="Book now The Animals' Lawsuit Against Humanity"
                      class="btn_1"
                      href="/tickets/buy-tickets-the-animals-lawsuit-against-humanity-en-18689.html"
                    >
                      <span class="arrow_yellow">Book now</span>
                    </a>
                  </td>
                </tr>
                <tr class="hide500">
                  <td class="border">
                    <div class="cell">
                      <span class="label">Date</span>
                      <p class="text_18">10 November 2022 | 20:00</p>
                    </div>
                  </td>
                  <td class="border">
                    <div class="cell">
                      <span class="label">Price</span>
                      <p class="text_18">EGP&nbsp;150</p>
                    </div>
                  </td>
                </tr>
                <tr class="rowSpace hide500">
                  <td colspan="4"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
