<div id="cntOutHdr ">
  <div class="inside-content">
    <form>
      <label>About Title </label>
      <input type="text"  placeholder="{{ title }}" />

      <br />
      <label>About Data </label>
      <textarea rows="4" cols="50" >
        {{ body }}
      </textarea>

      <br />
      <input type="submit" value="ENTER DATA" />
    </form>
<hr>
<h3>Operation Section</h3>
<hr>
    <table>
      <tr>
        <td>Section</td>
        <td>Delete</td>
        <td>Edit</td>
      </tr>
      <tbody>
      <tr>
        <td >{{ title }}</td>
        <td><input (click)="deleteData(id)" type="submit" value="Delete title" /></td>
        <td><input (click)="openModal()" type="submit" value="Edit" /></td>
      </tr>
      <tr>
        <td >{{ body }}</td>
      <td><input (click)="deleteData(id)" type="submit" value="Delete body" /></td>
      <td><input (click)="openModal()" type="submit" value="Edit" /></td>
      </tr>
    </tbody>
    </table>


  </div>
</div>
