<footer id="cntOutFtr">
        <div id="cntInnFtr">
            <div class="footer_1">
                <a title="TicketsMarche" href="/" class="logo">
                    <img alt="TicketsMarche" src="../../assets/icons/TME_footer.png">
                </a>
                <nav class="navigation">
                    <ul>
                        <li>
                            <a title="All Tickets on Sale" href="#">All Tickets on Sale</a>
                        </li>
                        <li>
                            <a title="Hot Events" href="#">Hot Events</a>
                        </li>
                        <li>
                            <a title="Locate Our Outlets" href="#">Locate Our Outlets</a>
                        </li>
                        <li>
                            <a title="Ticket Your Event" href="#">Ticket Your Event</a>
                        </li>
                        <li>
                            <a title="FAQs" href="#">FAQs</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a title="About us" routerLink="about">About us</a>
                        </li>
                        <li>
                            <a title="Our Policies" href="#">Our Policies</a>
                        </li>
                        <li>
                            <a title="Contact Us" href="#">Contact Us</a>
                        </li>
                        <li>
                            <a title="Careers" href="#">Careers</a>
                        </li>
                    </ul>
                </nav>
                <div class="customer">
                    <span>Need Help, Call Now</span>
                    <br>
                    <span class="phoneCustomer">0127453332</span>
                    <br>
                    <span class="dhCustomer">10am - 10pm / Everyday</span>
                </div>
            </div>
            <div class="registerNewsletter">
                <p>© TicketsMarche.com&nbsp;2022 - <a title="Privacy Policy" href="/privacy-policy.html"
                        style="color: #6d6e72;">Privacy Policy</a>
                </p>
                <a href="registernewsletter_sc_42.html" class="btn_1">
                    <span class="arrow_yellow">Email Subscribe Here</span>
                </a>
                <a target="_blank" title="TicketsMarche Facebook" class="icoTwitter"
                    href="https://twitter.com/ticketsmarche?lang=en">&nbsp;</a>
                <a target="_blank" title="TicketsMarcheTwitter" class="icoFacebook"
                    href="https://www.facebook.com/Ticketsmarche/">&nbsp;</a>
                <br clear="all">
            </div>
        </div>
    </footer>
