<div id="cntInnCont"><input value="13" id="qtShowCategoryEvent" type="hidden">
    <div id="showCategoryEvent" class="showSlideShow">
        <div style="z-index: 1; display: none;" id="slide_1" element="singleSlide" class="singleSlide">
            <img alt="2 Cellos Slider" class="image" id="13737" src="../../assets/images/2Cellos_1,140-x-570-min.jpg"
                width="1139" height="570">
            <div class="info">
                <div class="cdEventTemplateType">Hot event</div>
                <div class="detail_1 borderBottom">
                    <span class="text_10">Date</span>
                    <h3 class="text_28">18 November</h3>
                </div>
                <div class="detail_2 borderBottom">
                    <h4 class="text_10">Pop &amp; Rock</h4>
                    <h3 class="text_34">2 Cellos</h3>
                </div>
                <a title="BUY IT 2 Cellos" href="/tickets/buy-tickets-2-cellos.html" class="btn_1">
                    <span class="arrow_yellow">BUY IT</span>
                </a>
            </div>
        </div>
        <div style="z-index: 2; display: none;" id="slide_2" element="singleSlide" class="singleSlide">
            <img alt="mohamed hamaki slider" class="image" id="13933"
                src="../../assets/images/mohamed+hamaki+slider.jpg" width="1140" height="570">
            <div class="info">
                <div class="cdEventTemplateType">Hot event</div>
                <div class="detail_1 borderBottom">
                    <span class="text_10">Date</span>
                    <h3 class="text_28">25 November</h3>
                </div>
                <div class="detail_2 borderBottom">
                    <h4 class="text_10">Arabic Egyptian</h4>
                    <h3 class="text_34">Hamaki Concert at Al Burouj</h3>
                </div>
                <a title="BUY IT Hamaki Concert at Al Burouj"
                    href="/tickets/buy-tickets-hamaki-concert-at-al-burouj.html" class="btn_1">
                    <span class="arrow_yellow">BUY IT</span>
                </a>
            </div>
        </div>
        <div style="z-index: 3; display: none;" id="slide_3" element="singleSlide" class="singleSlide">
            <img alt="Elissa And Ragheb Slider" class="image" id="14069"
                src="../../assets/images/ZWF_Artist+website+slider_11_06.jpg" width="1140" height="570">
            <div class="info">
                <div class="detail_1 borderBottom">
                    <span class="text_10">Date</span>
                    <h3 class="text_28">18 November</h3>
                </div>
                <div class="detail_2 borderBottom">
                    <h4 class="text_10">Live Concerts &amp; DJs</h4>
                    <h3 class="text_34">Zed Winter Fest Opening </h3>
                </div>
                <a title="BUY IT Zed Winter Fest Opening " href="/tickets/buy-tickets-zed-winter-fest-opening.html"
                    class="btn_1">
                    <span class="arrow_yellow">BUY IT</span>
                </a>
            </div>
        </div>
        <div style="z-index: 4; display: none;" id="slide_4" element="singleSlide" class="singleSlide">
            <img alt="Elite Slider" class="image" id="14051" src="../../assets/images/Elite+slider.jpg" width="1140"
                height="570">
            <div class="info">
                <div class="detail_1 borderBottom">
                    <span class="text_10">Date</span>
                    <h3 class="text_28">18 November</h3>
                </div>
                <div class="detail_2 borderBottom">
                    <h4 class="text_10">Comedy</h4>
                    <h3 class="text_34">The Elite Stand Up Comedy</h3>
                </div>
                <a title="BUY IT The Elite Stand Up Comedy" href="/tickets/buy-tickets-the-elite-stand-up-comedy.html"
                    class="btn_1">
                    <span class="arrow_yellow">BUY IT</span>
                </a>
            </div>
        </div>
        <div style="z-index: 5; display: none;" id="slide_5" element="singleSlide" class="singleSlide">
            <img alt="NEW NAGHOM" class="image" id="14000" src="../../assets/images/NEW+NAGHOM.jpg" width="1140"
                height="570">
            <div class="info">
                <div class="cdEventTemplateType">Hot event</div>
                <div class="detail_1 borderBottom">
                    <span class="text_10">Date</span>
                    <h3 class="text_28">02 December</h3>
                </div>
                <div class="detail_2 borderBottom">
                    <h4 class="text_10">Musical Shows</h4>
                    <h3 class="text_34">Non-stop music - Angham</h3>
                </div>
                <a title="BUY IT Non-stop music - Angham" href="/tickets/buy-tickets-non-stop-music-angham.html"
                    class="btn_1">
                    <span class="arrow_yellow">BUY IT</span>
                </a>
            </div>
        </div>
        <div style="z-index: 6; display: none;" id="slide_6" element="singleSlide" class="singleSlide">
            <img alt="Anistona Slider" class="image" id="13781" src="../../assets/images/Anistoona+slider.jpg"
                width="1140" height="570">
            <div class="info">
                <div class="cdEventTemplateType">Hot event</div>
                <div class="detail_1 borderBottom">
                    <div class="half">
                        <span class="text_10">Date from</span>
                        <h3 class="text_28">10 November</h3>
                    </div>
                    <div class="half">
                        <span class="text_10">TO</span>
                        <h3 class="text_28">19 November</h3>
                    </div>
                    <br clear="all">
                </div>
                <div class="detail_2 borderBottom">
                    <h4 class="text_10">Art &amp; Theater</h4>
                    <h3 class="text_34">Anistoona </h3>
                </div>
                <a title="BUY IT Anistoona  " href="/anistoona_se_2428.html" class="btn_1">
                    <span class="arrow_yellow">BUY IT</span>
                </a>
            </div>
        </div>
        <div style="z-index: 7; display: none;" id="slide_7" element="singleSlide" class="singleSlide">
            <img alt="cairo slider" class="image" id="13783" src="../../assets/images/cairo+slider.jpg" width="1140"
                height="570">
            <div class="info">
                <div class="cdEventTemplateType">Hot event</div>
                <div class="detail_1 borderBottom">
                    <span class="text_10">Date</span>
                    <h3 class="text_28">18 November</h3>
                </div>
                <div class="detail_2 borderBottom">
                    <h4 class="text_10">Art &amp; Theater</h4>
                    <h3 class="text_34">Yama fi elgerab ya 7awy </h3>
                </div>
                <a title="BUY IT Yama fi elgerab ya 7awy   "
                    href="/tickets/buy-tickets-yama-fi-elgerab-ya-7awy-en-18560.html" class="btn_1">
                    <span class="arrow_yellow">BUY IT</span>
                </a>
            </div>
        </div>
        <div style="z-index: 8; display: none;" id="slide_8" element="singleSlide" class="singleSlide">
            <img alt="World Cup Slider" class="image" id="14045" src="../../assets/images/WC+Slider.jpg" width="1140"
                height="570">
            <div class="info">
                <div class="cdEventTemplateType">Hot event</div>
                <div class="detail_1 borderBottom">
                    <span class="text_10">Date</span>
                    <h3 class="text_28">20 November</h3>
                </div>
                <div class="detail_2 borderBottom">
                    <h4 class="text_10">Sports</h4>
                    <h3 class="text_34">Qatar World Cup</h3>
                </div>
                <a title="BUY IT Qatar World Cup" href="#" class="btn_1">
                    <span class="arrow_yellow">BUY IT</span>
                </a>
            </div>
        </div>
        <div style="z-index: 9; display: none;" id="slide_9" element="singleSlide" class="singleSlide">
            <img alt="fit 1 slider" class="image" id="13927" src="../../assets/images/fit+1+slider.jpg" width="1140"
                height="570">
            <div class="info">
                <div class="detail_1 borderBottom">
                    <div class="half">
                        <span class="text_10">Date from</span>
                        <h3 class="text_28">10 November</h3>
                    </div>
                    <div class="half">
                        <span class="text_10">TO</span>
                        <h3 class="text_28">12 November</h3>
                    </div>
                    <br clear="all">
                </div>
                <div class="detail_2 borderBottom">
                    <h4 class="text_10">Sports</h4>
                    <h3 class="text_34">ELFIT 2022 CrossFit Championship</h3>
                </div>
                <a title="BUY IT ELFIT 2022 CrossFit Championship" href="/elfit-2022-crossfit-championship_se_2010.html"
                    class="btn_1">
                    <span class="arrow_yellow">BUY IT</span>
                </a>
            </div>
        </div>
        <div style="z-index: 10; display: none;" id="slide_10" element="singleSlide" class="singleSlide">
            <img alt="For30 SLider" class="image" id="14047"
                src="../../assets/images/U30+Sumint_TM+Slider-Sponsors_Top-min+(1).jpg" width="1140" height="570">
            <div class="info">
                <div class="detail_1 borderBottom">
                    <span class="text_10">Date</span>
                    <h3 class="text_28">24 November</h3>
                </div>
                <div class="detail_2 borderBottom">
                    <h4 class="text_10">Other events</h4>
                    <h3 class="text_34">Forbes Middle East Under 30 Summit El Gouna</h3>
                </div>
                <a title="BUY IT Forbes Middle East Under 30 Summit El Gouna"
                    href="/tickets/buy-tickets-forbes-middle-east-under-30-summit-el-gouna-en.html" class="btn_1">
                    <span class="arrow_yellow">BUY IT</span>
                </a>
            </div>
        </div>
        <div style="z-index: 11;" id="slide_11" element="singleSlide" class="singleSlide">
            <img alt="Samajam Slider" class="image" id="13973" src="../../assets/images/Samajam+SLider.jpg" width="1140"
                height="570">
            <div class="info">
                <div class="cdEventTemplateType">Hot event</div>
                <div class="detail_1 borderBottom">
                    <div class="half">
                        <span class="text_10">Date from</span>
                        <h3 class="text_28">01 December</h3>
                    </div>
                    <div class="half">
                        <span class="text_10">TO</span>
                        <h3 class="text_28">03 December</h3>
                    </div>
                    <br clear="all">
                </div>
                <div class="detail_2 borderBottom">
                    <h4 class="text_10">Kids Shows</h4>
                    <h3 class="text_34">SAMAJAM International Show</h3>
                </div>
                <a title="BUY IT SAMAJAM International Show" href="/samajam-international-show_se_2452.html"
                    class="btn_1">
                    <span class="arrow_yellow">BUY IT</span>
                </a>
            </div>
        </div>
        <div style="z-index: 12; display: none;" id="slide_12" element="singleSlide" class="singleSlide">
            <img alt="Marathon Slider" class="image" id="14004" src="../../assets/images/Marathom+Slider.jpg"
                width="1140" height="570">
            <div class="info">
                <div class="cdEventTemplateType">Hot event</div>
                <div class="detail_1 borderBottom">
                    <span class="text_10">Date</span>
                    <h3 class="text_28">10 December</h3>
                </div>
                <div class="detail_2 borderBottom">
                    <h4 class="text_10">Sports</h4>
                    <h3 class="text_34">Pyramids Half Marathon 2022</h3>
                </div>
                <a title="BUY IT Pyramids Half Marathon 2022"
                    href="/tickets/buy-tickets-pyramids-half-marathon-2022-en.html" class="btn_1">
                    <span class="arrow_yellow">BUY IT</span>
                </a>
            </div>
        </div>
        <div style="z-index: 13; display: none;" id="slide_13" element="singleSlide" class="singleSlide">
            <img alt="ZED Park Slider" class="image" id="13251" src="../../assets/images/ZED+Park+Slider.jpg"
                width="1139" height="570">
            <div class="info">
                <div class="detail_1 borderBottom">
                    <div class="half">
                        <span class="text_10">Date from</span>
                        <h3 class="text_28">07 November</h3>
                    </div>
                    <div class="half">
                        <span class="text_10">TO</span>
                        <h3 class="text_28">17 November</h3>
                    </div>
                    <br clear="all">
                </div>
                <div class="detail_2 borderBottom">
                    <h4 class="text_10">Family Attractions</h4>
                    <h3 class="text_34">ZED Park</h3>
                </div>
                <a title="BUY IT ZED Park" href="/zed-park_se_2357.html" class="btn_1">
                    <span class="arrow_yellow">BUY IT</span>
                </a>
            </div>
        </div>
        <div class="controller">
            <div class="controllerInn no-user-select">
                <span onclick="showSlide(1)" class="slideEmpty" element="singlePoint" id="singlePoint_1">
                    &nbsp;</span>
                <span onclick="showSlide(2)" class="slideEmpty" element="singlePoint" id="singlePoint_2">
                    &nbsp;</span>
                <span onclick="showSlide(3)" class="slideEmpty" element="singlePoint" id="singlePoint_3">
                    &nbsp;</span>
                <span onclick="showSlide(4)" class="slideEmpty" element="singlePoint" id="singlePoint_4">
                    &nbsp;</span>
                <span onclick="showSlide(5)" class="slideEmpty" element="singlePoint" id="singlePoint_5">
                    &nbsp;</span>
                <span onclick="showSlide(6)" class="slideEmpty" element="singlePoint" id="singlePoint_6">
                    &nbsp;</span>
                <span onclick="showSlide(7)" class="slideEmpty" element="singlePoint" id="singlePoint_7">
                    &nbsp;</span>
                <span onclick="showSlide(8)" class="slideEmpty" element="singlePoint" id="singlePoint_8">
                    &nbsp;</span>
                <span onclick="showSlide(9)" class="slideEmpty" element="singlePoint" id="singlePoint_9">
                    &nbsp;</span>
                <span onclick="showSlide(10)" class="slideEmpty" element="singlePoint" id="singlePoint_10">
                    &nbsp;</span>
                <span onclick="showSlide(11)" class="slideEmpty slideFull" element="singlePoint" id="singlePoint_11">
                    &nbsp;</span>
                <span onclick="showSlide(12)" class="slideEmpty" element="singlePoint" id="singlePoint_12">
                    &nbsp;</span>
                <span onclick="showSlide(13)" class="slideEmpty" element="singlePoint" id="singlePoint_13">
                    &nbsp;</span>
            </div>
        </div>
    </div>
    <div class="showIncomingEventList">
        <h2 class="text_34 taCenter">What plans today?</h2>
        <p class="text_20 taCenter subTitle">Explore and book all exclusive events</p>
        <div class="list_1">
            <a title="Book ZED Park" class="singleEvent_1" href="/zed-park_se_2357.html">
                <div class="nmEvent">
                    <p class="text_20">ZED Park</p>
                </div>
                <div class="image">
                    <div class="info text_20">07/11, 12:00
                        - 17/11, 14:00<br>Ticket Range<br>100.00 - 150.00&nbsp;EGP</div>
                    <img alt="ZED Park Thumb" id="13253" src="../../assets/images/ZED+Park+Thumb.jpg" width="369"
                        height="260">
                </div>
                <span class="btn_1">
                    <span class="arrow_yellow">Book now</span>
                </span>
            </a>
            <a title="Book Antigone" class="singleEvent_1" href="/antigone_se_2455.html">
                <div class="nmEvent">
                    <p class="text_20">Antigone</p>
                </div>
                <div class="image">
                    <div class="info text_20">08/11, 18:55
                        - 10/11, 18:55<br>Ticket Price<br>50.00&nbsp;EGP</div>
                    <img alt="antigone thumb" id="14007" src="../../assets/images/antigone+thumb.jpg" width="370"
                        height="260">
                </div>
                <span class="btn_1">
                    <span class="arrow_yellow">Book now</span>
                </span>
            </a>
            <a title="Book ELFIT 2022 CrossFit Championship" class="singleEvent_1"
                href="/elfit-2022-crossfit-championship_se_2010.html">
                <div class="nmEvent">
                    <p class="text_20">ELFIT 2022 CrossFit ...</p>
                </div>
                <div class="image">
                    <div class="info text_20">10/11, 09:00
                        - 12/11, 09:00<br>Ticket Range<br>100.00 - 400.00&nbsp;EGP</div>
                    <img alt="FIT22 THUMB" id="13942" src="../../assets/images/FIT22+THUMB.jpg" width="370"
                        height="260">
                </div>
                <span class="btn_1">
                    <span class="arrow_yellow">Book now</span>
                </span>
            </a>
            <a title="Book The Animals' Lawsuit Against Humanity" class="singleEvent_1"
                href="/the-animals-lawsuit-against-humanity_se_2295.html">
                <div class="nmEvent">
                    <p class="text_20">The Animals' Lawsuit...</p>
                </div>
                <div class="image">
                    <div class="info text_20">10/11, 18:00
                        - 10/11, 20:00<br>Ticket Price<br>150.00&nbsp;EGP</div>
                    <img alt="Animal LAw Suit Thumb" id="14056" src="../../assets/images/Animal+Thumb.jpg" width="370"
                        height="260">
                </div>
                <span class="btn_1">
                    <span class="arrow_yellow">Book now</span>
                </span>
            </a>
        </div>
        <p class="taCenter">
            <a title="Show more events" class="link_1" href="/all-tickets-on-sale.html">Show more events</a>
        </p>
        <div style="text-align:center;" class="bannerImg">
            <br>
            <a title="Anubis Jersey" href="/tickets/anubis-jersey.html" class="taCenter">
                <img class="hide630" src="../../assets/images/Anubis-merchandising-mobile-001.jpeg">
                <img class="show630" src="../../assets/images/Anubis-merchandising-desktop-001.jpeg">
            </a>
        </div>
    </div>
    <div class="showHpEventList twoOnThreeContent">
        <h2 class="text_36 taCenter">All tickets on Sale</h2>
        <p class="text_18 taCenter subTitle">Make this part of your plan</p>
        <div class="list_2">
            <a title="Book The Elite Stand Up Comedy" class="singleEvent_2"
                href="/the-elite-stand-up-comedy_se_2460.html">
                <div class="image">
                    <div class="info">The Marquee-Cairo Festival City.
                        <br>Starting from<br>EGP&nbsp;175.00 - 300.00
                    </div>
                    <img alt="Elite Thumb" id="14052" src="../../assets/images/Elite+thumbnail.jpg" width="370"
                        height="260">
                </div>
                <div class="nmEvent">The Elite Stand...
                    <br>18/11
                </div>
            </a>
            <a title="Book Pyramids Half Marathon 2022" class="singleEvent_2"
                href="/pyramids-half-marathon-2022_se_2456.html">
                <div class="image">
                    <span class="cdEventTemplateType">Hot event</span>
                    <div class="info">The Pyramids Of Giza
                        <br>Starting from<br>EGP&nbsp;200.00 - 1,140.00
                    </div>
                    <img alt="Marathon Thumb" id="14005" src="../../assets/images/Marathom+Thumb.jpg" width="370"
                        height="260">
                </div>
                <div class="nmEvent">Pyramids Half M...
                    <br>10/12
                </div>
            </a>
            <a title="Book Anistoona  " class="singleEvent_2" href="/anistoona_se_2428.html">
                <div class="image">
                    <span class="cdEventTemplateType">Hot event</span>
                    <div class="info">MUST THEATER
                        <br>Starting from<br>EGP&nbsp;250.00 - 1,250.00
                    </div>
                    <img alt="Anistona Thumb" id="13782" src="../../assets/images/Anistoona+thumbnail.jpg" width="370"
                        height="260">
                </div>
                <div class="nmEvent">Anistoona
                    <br>10/11
                    - 19/11
                </div>
            </a>
            <a title="Book Yama fi elgerab ya 7awy   " class="singleEvent_2"
                href="/yama-fi-elgerab-ya-7awy_se_2433.html">
                <div class="image">
                    <span class="cdEventTemplateType">Hot event</span>
                    <div class="info">Cairo Show Theater
                        <br>Starting from<br>EGP&nbsp;160.00 - 1,200.00
                    </div>
                    <img alt="cairo thumb" id="13784" src="../../assets/images/Cairo+thumb.jpg" width="370"
                        height="260">
                </div>
                <div class="nmEvent">Yama fi elgerab...
                    <br>18/11
                </div>
            </a>
            <a title="Book Forbes Middle East Under 30 Summit El Gouna" class="singleEvent_2"
                href="/forbes-middle-east-under-30-summit-el-gouna_se_2439.html">
                <div class="image">
                    <div class="info">El Gouna Conference and Cultural Center (GCCC)
                        <br>Starting from<br>EGP&nbsp;800.00 - 4,000.00
                    </div>
                    <img alt="for30 thumb" id="14048"
                        src="../../assets/images/U30+Sumint_TM+Slider-Sponsors_Top-min+%282%29.jpg" width="370"
                        height="260">
                </div>
                <div class="nmEvent">Forbes Middle E...
                    <br>24/11
                </div>
            </a>
            <a title="Book ELFIT 2022 CrossFit Championship" class="singleEvent_2"
                href="/elfit-2022-crossfit-championship_se_2010.html">
                <div class="image">
                    <div class="info">New Capital Sports City
                        <br>Starting from<br>EGP&nbsp;100.00 - 400.00
                    </div>
                    <img alt="FIT22 THUMB" id="13942" src="../../assets/images/FIT22+THUMB.jpg" width="370"
                        height="260">
                </div>
                <div class="nmEvent">ELFIT 2022 Cros...
                    <br>10/11
                    - 12/11
                </div>
            </a>
            <a title="Book SAMAJAM International Show" class="singleEvent_2"
                href="/samajam-international-show_se_2452.html">
                <div class="image">
                    <span class="cdEventTemplateType">Hot event</span>
                    <div class="info">The Marquee-Cairo Festival City.
                        <br>Starting from<br>EGP&nbsp;200.00 - 400.00
                    </div>
                    <img alt="samjam thumb" id="13975" src="../../assets/images/Samajam+Thumb.jpg" width="370"
                        height="260">
                </div>
                <div class="nmEvent">SAMAJAM Interna...
                    <br>01/12
                    - 03/12
                </div>
            </a>
            <a title="Book Qatar World Cup" class="singleEvent_2" href="/qatar-world-cup_se_2363.html">
                <div class="image">
                    <span class="cdEventTemplateType">Hot event</span>
                    <div class="info">Qatar
                        <br>Starting from<br>USD&nbsp;
                    </div>
                    <img alt="World Cup Thumb" id="14046" src="../../assets/images/WC+Thumb.jpg" width="370"
                        height="260">
                </div>
                <div class="nmEvent">Qatar World Cup
                    <br>20/11
                </div>
            </a>
        </div>
        <p class="taCenter">
            <a title="Show more events" class="link_1" href="/all-tickets-on-sale.html">Show more events</a>
        </p>
    </div>
    <div class="showHotEventList oneOnThreeContent">
        <h2 class="text_36 taCenter">Hot Events</h2>
        <p class="text_18 taCenter subTitle">If any of these is your plan, hurry up!</p>
        <div class="list_2">
            <a title="Book 2 Cellos" class="singleEvent_2" href="/2-cellos_se_2396.html">
                <div class="image">
                    <div class="info">Somabay
                        <br>Starting from<br>EGP&nbsp;750.00 - 7,000.00
                    </div>
                    <img alt="2 Cellos Thumb" id="13738" src="../../assets/images/2Cellos_370-x-260.jpg" width="370"
                        height="259">
                </div>
                <div class="nmEvent">2 Cellos
                    <br>18/11
                </div>
            </a>
            <a title="Book Qatar World Cup" class="singleEvent_2" href="/qatar-world-cup_se_2363.html">
                <div class="image">
                    <div class="info">Qatar
                        <br>Starting from<br>USD&nbsp;
                    </div>
                    <img alt="World Cup Thumb" id="14046" src="../../assets/images/WC+Thumb.jpg" width="370"
                        height="260">
                </div>
                <div class="nmEvent">Qatar World Cup
                    <br>20/11
                </div>
            </a>
            <a title="Book Non-stop music - Angham" class="singleEvent_2" href="/non-stop-music-angham_se_2423.html">
                <div class="image">
                    <div class="info">The Marquee-Cairo Festival City.
                        <br>Starting from<br>EGP&nbsp;1,250.00 - 1,850.00
                    </div>
                    <img alt="NEW ANGHOMA THUMB" id="13998" src="../../assets/images/UPDATED+ANGHAM111.jpg" width="370"
                        height="260">
                </div>
                <div class="nmEvent">Non-stop music ...
                    <br>02/12
                </div>
            </a>
            <a title="Book Hamaki Concert at Al Burouj" class="singleEvent_2"
                href="/hamaki-concert-at-al-burouj_se_396.html">
                <div class="image">
                    <div class="info">AlBurouj Cultural Hub
                        <br>Starting from<br>EGP&nbsp;400.00
                    </div>
                    <img alt="mohamed hamaki thumb" id="13934" src="../../assets/images/mohamed+hamaki+thumb.jpg"
                        width="370" height="260">
                </div>
                <div class="nmEvent">Hamaki Concert ...
                    <br>25/11
                </div>
            </a>
        </div>
        <p class="taCenter">
            <a title="Show more events" class="link_1" href="/all-tickets-on-sale.html">Show more events</a>
        </p>
    </div>
    <section class="categoryNews"></section>
</div>