<div id="cntOutCont">
<div id="cntInnCont"><input value="13" id="qtShowCategoryEvent" type="hidden">
    <div id="showCategoryEvent" class="showSlideShow">
        <div style="z-index: 1; display: none ;" id="slide_1" element="singleSlide" class="singleSlide">
            <img alt="{{home[0].title}} Slider" class="image" id="13737" src="{{home[0].image}}"
                width="1139" height="570">
            <div class="info">
                <div class="cdEventTemplateType">Hot event</div>
                <div class="detail_1 borderBottom">
                    <span class="text_10">Date</span>
                    <h3 class="text_28">18 November</h3>
                </div>
                <div class="detail_2 borderBottom">
                    <h4 class="text_10">{{home[0].type}}</h4>
                    <h3 class="text_34">{{home[0].title}}</h3>
                </div>
                <a title="BUY IT {{home[0].title}}" href="/tickets/buy-tickets-2-cellos.html" class="btn_1">
                    <span class="arrow_yellow">BUY IT</span>
                </a>
            </div>
        </div>
        <div style="z-index: 2; display: none;" id="slide_2" element="singleSlide" class="singleSlide">
            <img alt="{{home[1].title}}slider" class="image" id="13933"
                src="{{home[1].image}}" width="1140" height="570">
            <div class="info">
                <div class="cdEventTemplateType">Hot event</div>
                <div class="detail_1 borderBottom">
                    <span class="text_10">Date</span>
                    <h3 class="text_28">25 November</h3>
                </div>
                <div class="detail_2 borderBottom">
                    <h4 class="text_10">{{home[1].type}}</h4>
                    <h3 class="text_34">{{home[1].title}}</h3>
                </div>
                <a title="BUY IT {{home[1].title}}"
                    href="/tickets/buy-tickets-hamaki-concert-at-al-burouj.html" class="btn_1">
                    <span class="arrow_yellow">BUY IT</span>
                </a>
            </div>
        </div>
        <div style="z-index: 3; display: none;" id="slide_3" element="singleSlide" class="singleSlide">
            <img alt="{{home[2].title}} Slider" class="image" id="14069"
                src="{{home[2].image}}" width="1140" height="570">
            <div class="info">
                <div class="detail_1 borderBottom">
                    <span class="text_10">Date</span>
                    <h3 class="text_28">18 November</h3>
                </div>
                <div class="detail_2 borderBottom">
                    <h4 class="text_10">{{home[2].type}}</h4>
                    <h3 class="text_34">{{home[2].title}}</h3>
                </div>
                <a title="BUY IT {{home[2].title}}" href="/tickets/buy-tickets-zed-winter-fest-opening.html"
                    class="btn_1">
                    <span class="arrow_yellow">BUY IT</span>
                </a>
            </div>
        </div>
        <div style="z-index: 4; display: none;" id="slide_4" element="singleSlide" class="singleSlide">
            <img alt="{{home[3].title}} Slider" class="image" id="14051" src="{{home[3].image}}" width="1140"
                height="570">
            <div class="info">
                <div class="detail_1 borderBottom">
                    <span class="text_10">Date</span>
                    <h3 class="text_28">18 November</h3>
                </div>
                <div class="detail_2 borderBottom">
                    <h4 class="text_10">{{home[3].type}}</h4>
                    <h3 class="text_34">{{home[3].title}}</h3>
                </div>
                <a title="BUY IT {{home[3].title}}" href="/tickets/buy-tickets-the-elite-stand-up-comedy.html"
                    class="btn_1">
                    <span class="arrow_yellow">BUY IT</span>
                </a>
            </div>
        </div>
        <div style="z-index: 5; display: none;" id="slide_5" element="singleSlide" class="singleSlide">
            <img alt="{{home[4].title}} silder" class="image" id="14000" src="{{home[4].image}}" width="1140"
                height="570">
            <div class="info">
                <div class="cdEventTemplateType">Hot event</div>
                <div class="detail_1 borderBottom">
                    <span class="text_10">Date</span>
                    <h3 class="text_28">02 December</h3>
                </div>
                <div class="detail_2 borderBottom">
                    <h4 class="text_10">{{home[4].type}}</h4>
                    <h3 class="text_34">{{home[4].title}}</h3>
                </div>
                <a title="BUY IT {{home[4].title}}" href="/tickets/buy-tickets-non-stop-music-angham.html"
                    class="btn_1">
                    <span class="arrow_yellow">BUY IT</span>
                </a>
            </div>
        </div>
        <div style="z-index: 6; display: none;" id="slide_6" element="singleSlide" class="singleSlide">
            <img alt="{{home[5].title}} Slider" class="image" id="13781" src="{{home[5].image}}"
                width="1140" height="570">
            <div class="info">
                <div class="cdEventTemplateType">Hot event</div>
                <div class="detail_1 borderBottom">
                    <div class="half">
                        <span class="text_10">Date from</span>
                        <h3 class="text_28">10 November</h3>
                    </div>
                    <div class="half">
                        <span class="text_10">TO</span>
                        <h3 class="text_28">19 November</h3>
                    </div>
                    <br clear="all">
                </div>
                <div class="detail_2 borderBottom">
                    <h4 class="text_10">{{home[5].type}}</h4>
                    <h3 class="text_34">{{home[5].title}} </h3>
                </div>
                <a title="BUY IT {{home[5].title}}" href="/anistoona_se_2428.html" class="btn_1">
                    <span class="arrow_yellow">BUY IT</span>
                </a>
            </div>
        </div>
        <div style="z-index: 7; display: none;" id="slide_7" element="singleSlide" class="singleSlide">
            <img alt="{{home[6].title}} slider" class="image" id="13783" src="{{home[6].image}}" width="1140"
                height="570">
            <div class="info">
                <div class="cdEventTemplateType">Hot event</div>
                <div class="detail_1 borderBottom">
                    <span class="text_10">Date</span>
                    <h3 class="text_28">18 November</h3>
                </div>
                <div class="detail_2 borderBottom">
                    <h4 class="text_10">{{home[6].type}}</h4>
                    <h3 class="text_34">{{home[6].title}} </h3>
                </div>
                <a title="BUY IT {{home[6].title}}"
                    href="/tickets/buy-tickets-yama-fi-elgerab-ya-7awy-en-18560.html" class="btn_1">
                    <span class="arrow_yellow">BUY IT</span>
                </a>
            </div>
        </div>
        <div style="z-index: 8; display: none;" id="slide_8" element="singleSlide" class="singleSlide">
            <img alt="{{home[7].title}} Slider" class="image" id="14045" src="{{home[7].image}}" width="1140"
                height="570">
            <div class="info">
                <div class="cdEventTemplateType">Hot event</div>
                <div class="detail_1 borderBottom">
                    <span class="text_10">Date</span>
                    <h3 class="text_28">20 November</h3>
                </div>
                <div class="detail_2 borderBottom">
                    <h4 class="text_10">{{home[7].type}}</h4>
                    <h3 class="text_34">{{home[7].title}}</h3>
                </div>
                <a title="BUY IT {{home[7].title}}" href="#" class="btn_1">
                    <span class="arrow_yellow">BUY IT</span>
                </a>
            </div>
        </div>
        <div style="z-index: 9; display: none;" id="slide_9" element="singleSlide" class="singleSlide">
            <img alt="{{home[8].title}} slider" class="image" id="13927" src="{{home[8].image}}" width="1140"
                height="570">
            <div class="info">
                <div class="detail_1 borderBottom">
                    <div class="half">
                        <span class="text_10">Date from</span>
                        <h3 class="text_28">10 November</h3>
                    </div>
                    <div class="half">
                        <span class="text_10">TO</span>
                        <h3 class="text_28">12 November</h3>
                    </div>
                    <br clear="all">
                </div>
                <div class="detail_2 borderBottom">
                    <h4 class="text_10">{{home[8].type}}</h4>
                    <h3 class="text_34">{{home[8].title}}</h3>
                </div>
                <a title="BUY IT {{home[8].title}}" href="/elfit-2022-crossfit-championship_se_2010.html"
                    class="btn_1">
                    <span class="arrow_yellow">BUY IT</span>
                </a>
            </div>
        </div>
        <div style="z-index: 10; display: none;" id="slide_10" element="singleSlide" class="singleSlide">
            <img alt="{{home[9].title}} SLider" class="image" id="14047"
                src="{{home[9].image}}" width="1140" height="570">
            <div class="info">
                <div class="detail_1 borderBottom">
                    <span class="text_10">Date</span>
                    <h3 class="text_28">24 November</h3>
                </div>
                <div class="detail_2 borderBottom">
                    <h4 class="text_10">{{home[9].type}}</h4>
                    <h3 class="text_34">{{home[9].title}}</h3>
                </div>
                <a title="BUY IT {{home[9].title}}"
                    href="/tickets/buy-tickets-forbes-middle-east-under-30-summit-el-gouna-en.html" class="btn_1">
                    <span class="arrow_yellow">BUY IT</span>
                </a>
            </div>
        </div>
        <div style="z-index: 11;" id="slide_11" element="singleSlide" class="singleSlide">
            <img alt="{{home[10].title}} Slider" class="image" id="13973" src="{{home[10].image}}" width="1140"
                height="570">
            <div class="info">
                <div class="cdEventTemplateType">Hot event</div>
                <div class="detail_1 borderBottom">
                    <div class="half">
                        <span class="text_10">type</span>
                        <h3 class="text_28">01 December</h3>
                    </div>
                    <div class="half">
                        <span class="text_10">TO</span>
                        <h3 class="text_28">03 December</h3>
                    </div>
                    <br clear="all">
                </div>
                <div class="detail_2 borderBottom">
                    <h4 class="text_10">{{home[10].type}}</h4>
                    <h3 class="text_34">{{home[10].title}}</h3>
                </div>
                <a title="BUY IT {{home[10].title}}" href="/samajam-international-show_se_2452.html"
                    class="btn_1">
                    <span class="arrow_yellow">BUY IT</span>
                </a>
                

            </div>
        </div>
        <div style="z-index: 12; display: none;" id="slide_12" element="singleSlide" class="singleSlide">
            <img alt="{{home[11].title}} Slider" class="image" id="14004" src="{{home[11].image}}"
                width="1140" height="570">
            <div class="info">
                <div class="cdEventTemplateType">Hot event</div>
                <div class="detail_1 borderBottom">
                    <span class="text_10">Date</span>
                    <h3 class="text_28">10 December</h3>
                </div>
                <div class="detail_2 borderBottom">
                    <h4 class="text_10">{{home[11].type}}</h4>
                    <h3 class="text_34">{{home[11].title}}</h3>
                </div>
                <a title="BUY IT {{home[11].title}}"
                    href="/tickets/buy-tickets-pyramids-half-marathon-2022-en.html" class="btn_1">
                    <span class="arrow_yellow">BUY IT</span>
                </a>
            </div>
        </div>
        <div style="z-index: 13; display: none;" id="slide_13" element="singleSlide" class="singleSlide">
            <img alt="{{home[12].title}} Slider" class="image" id="13251" src="{{home[12].image}}"
                width="1139" height="570">
            <div class="info">
                <div class="detail_1 borderBottom">
                    <div class="half">
                        <span class="text_10">Date from</span>
                        <h3 class="text_28">07 November</h3>
                    </div>
                    <div class="half">
                        <span class="text_10">TO</span>
                        <h3 class="text_28">17 November</h3>
                    </div>
                    <br clear="all">
                </div>
                <div class="detail_2 borderBottom">
                    <h4 class="text_10">{{home[12].type}}</h4>
                    <h3 class="text_34">{{home[12].title}}</h3>
                </div>
                <a title="BUY IT {{home[12].title}}" href="/zed-park_se_2357.html" class="btn_1">
                    <span class="arrow_yellow">BUY IT</span>
                </a>
            </div>
        </div>
        <div class="controller">
            <div class="controllerInn no-user-select">
                <span onclick="showSlide(1)" class="slideEmpty" element="singlePoint" id="singlePoint_1">
                    &nbsp;</span>
                <span onclick="showSlide(2)" class="slideEmpty" element="singlePoint" id="singlePoint_2">
                    &nbsp;</span>
                <span onclick="showSlide(3)" class="slideEmpty" element="singlePoint" id="singlePoint_3">
                    &nbsp;</span>
                <span onclick="showSlide(4)" class="slideEmpty" element="singlePoint" id="singlePoint_4">
                    &nbsp;</span>
                <span onclick="showSlide(5)" class="slideEmpty" element="singlePoint" id="singlePoint_5">
                    &nbsp;</span>
                <span onclick="showSlide(6)" class="slideEmpty" element="singlePoint" id="singlePoint_6">
                    &nbsp;</span>
                <span onclick="showSlide(7)" class="slideEmpty" element="singlePoint" id="singlePoint_7">
                    &nbsp;</span>
                <span onclick="showSlide(8)" class="slideEmpty" element="singlePoint" id="singlePoint_8">
                    &nbsp;</span>
                <span onclick="showSlide(9)" class="slideEmpty" element="singlePoint" id="singlePoint_9">
                    &nbsp;</span>
                <span onclick="showSlide(10)" class="slideEmpty" element="singlePoint" id="singlePoint_10">
                    &nbsp;</span>
                <span onclick="showSlide(11)" class="slideEmpty slideFull" element="singlePoint" id="singlePoint_11">
                    &nbsp;</span>
                <span onclick="showSlide(12)" class="slideEmpty" element="singlePoint" id="singlePoint_12">
                    &nbsp;</span>
                <span onclick="showSlide(13)" class="slideEmpty" element="singlePoint" id="singlePoint_13">
                    &nbsp;</span>
            </div>
        </div>
    </div>
    <div class="showIncomingEventList">
        <h2 class="text_34 taCenter">What plans today?</h2>
        <p class="text_20 taCenter subTitle">Explore and book all exclusive events</p>
        <div class="list_1">
            <a title="Book {{home[12].title}}" class="singleEvent_1" href="/zed-park_se_2357.html">
                <div class="nmEvent">
                    <p class="text_20">{{home[12].title}}</p>
                </div>
                <div class="image">
                    <div class="info text_20">07/11, 12:00
                        - 17/11, 14:00<br>Ticket Range<br>100.00 - 150.00&nbsp;EGP</div>
                    <img alt="{{home[12].title}} Thumb" id="13253" src="{{home[12].thumb}}" width="369"
                        height="260">
                </div>
                <span class="btn_1">
                    <span class="arrow_yellow">Book now</span>
                </span>
            </a>
            <a title="Book {{home[13].title}}" class="singleEvent_1" href="/antigone_se_2455.html">
                <div class="nmEvent">
                    <p class="text_20">{{home[13].title}}</p>
                </div>
                <div class="image">
                    <div class="info text_20">08/11, 18:55
                        - 10/11, 18:55<br>Ticket Price<br>50.00&nbsp;EGP</div>
                    <img alt="{{home[13].title}} thumb" id="14007" src="{{home[13].thumb}}" width="370"
                        height="260">
                </div>
                <span class="btn_1">
                    <span class="arrow_yellow">Book now</span>
                </span>
            </a>
            <a title="Book {{home[8].title}}" class="singleEvent_1"
                href="/elfit-2022-crossfit-championship_se_2010.html">
                <div class="nmEvent">
                    <p class="text_20">{{home[8].title}}</p>
                </div>
                <div class="image">
                    <div class="info text_20">10/11, 09:00
                        - 12/11, 09:00<br>Ticket Range<br>100.00 - 400.00&nbsp;EGP</div>
                    <img alt="{{home[8].title}} THUMB" id="13942" src="{{home[8].thumb}}" width="370"
                        height="260">
                </div>
                <span class="btn_1">
                    <span class="arrow_yellow">Book now</span>
                </span>
            </a>
            <a title="Book {{home[5].title}}" class="singleEvent_1"
                href="/the-animals-lawsuit-against-humanity_se_2295.html">
                <div class="nmEvent">
                    <p class="text_20">{{home[5].title}}</p>
                </div>
                <div class="image">
                    <div class="info text_20">11/11, 20:00
                        - 26/11, 20:00<br>Ticket Range<br>250.00 - 1250.00&nbsp;EGP</div>
                    <img alt="{{home[5].title}} Thumb" id="14056" src="{{home[5].thumb}}" width="370"
                        height="260">
                </div>
                <span class="btn_1">
                    <span class="arrow_yellow">Book now</span>
                </span>
            </a>
        </div>
        <p class="taCenter">
            <a title="Show more events" class="link_1" href="/all-tickets-on-sale.html">Show more events</a>
        </p>
        <div style="text-align:center;" class="bannerImg">
            <br>
            <a title="{{home[14].title}}" href="/tickets/anubis-jersey.html" class="taCenter">
                <img class="hide630" src="{{home[14].image}}">
                <img class="show630" src="{{home[14].thumb}}">
            </a>
        </div>
    </div>
    <div class="showHpEventList twoOnThreeContent">
        <h2 class="text_36 taCenter">All tickets on Sale</h2>
        <p class="text_18 taCenter subTitle">Make this part of your plan</p>
        <div class="list_2">
            <a title="Book {{home[3].title}}" class="singleEvent_2"
                href="/the-elite-stand-up-comedy_se_2460.html">
                <div class="image">
                    <div class="info">{{home[3].venue}}
                        <br>Starting from<br>EGP&nbsp;175.00 - 300.00
                    </div>
                    <img alt="{{home[3].title}}" id="14052" src="{{home[3].thumb}}" width="370"
                        height="260">
                </div>
                <div class="nmEvent">{{home[3].title}}
                    <br>18/11
                </div>
            </a>
            <a title="Book {{home[11].title}}" class="singleEvent_2"
                href="/pyramids-half-marathon-2022_se_2456.html">
                <div class="image">
                    <span class="cdEventTemplateType">Hot event</span>
                    <div class="info">T{{home[11].venue}}
                        <br>Starting from<br>EGP&nbsp;200.00 - 1,140.00
                    </div>
                    <img alt="{{home[11].title}}" id="14005" src="{{home[11].thumb}}" width="370"
                        height="260">
                </div>
                <div class="nmEvent">{{home[11].title}}
                    <br>10/12
                </div>
            </a>
            <a title="Book {{home[5].title}}  " class="singleEvent_2" href="/anistoona_se_2428.html">
                <div class="image">
                    <span class="cdEventTemplateType">Hot event</span>
                    <div class="info">{{home[5].venue}}
                        <br>Starting from<br>EGP&nbsp;250.00 - 1,250.00
                    </div>
                    <img alt="{{home[5].title}}" id="13782" src="{{home[5].thumb}}" width="370"
                        height="260">
                </div>
                <div class="nmEvent">{{home[5].title}}
                    <br>10/11
                    - 19/11
                </div>
            </a>
            <a title="Book {{home[6].title}}" class="singleEvent_2"
                href="/yama-fi-elgerab-ya-7awy_se_2433.html">
                <div class="image">
                    <span class="cdEventTemplateType">Hot event</span>
                    <div class="info">{{home[6].venue}}
                        <br>Starting from<br>EGP&nbsp;160.00 - 1,200.00
                    </div>
                    <img alt="{{home[6].title}}" id="13784" src="{{home[6].thumb}}" width="370"
                        height="260">
                </div>
                <div class="nmEvent">{{home[6].title}}
                    <br>18/11
                </div>
            </a>
            <a title="Book {{home[9].title}}" class="singleEvent_2"
                href="/forbes-middle-east-under-30-summit-el-gouna_se_2439.html">
                <div class="image">
                    <div class="info">{{home[9].venue}}
                        <br>Starting from<br>EGP&nbsp;800.00 - 4,000.00
                    </div>
                    <img alt="{{home[9].title}}" id="14048"
                        src="{{home[9].thumb}}" width="370"
                        height="260">
                </div>
                <div class="nmEvent">{{home[9].title}}
                    <br>24/11
                </div>
            </a>
            <a title="Book {{home[8].title}}" class="singleEvent_2"
                href="/elfit-2022-crossfit-championship_se_2010.html">
                <div class="image">
                    <div class="info">{{home[8].venue}}
                        <br>Starting from<br>EGP&nbsp;100.00 - 400.00
                    </div>
                    <img alt="{{home[8].title}}" id="13942" src="{{home[8].thumb}}" width="370"
                        height="260">
                </div>
                <div class="nmEvent">{{home[8].title}}
                    <br>10/11
                    - 12/11
                </div>
            </a>
            <a title="Book {{home[10].title}}" class="singleEvent_2"
                href="/samajam-international-show_se_2452.html">
                <div class="image">
                    <span class="cdEventTemplateType">Hot event</span>
                    <div class="info">{{home[10].venue}}
                        <br>Starting from<br>EGP&nbsp;200.00 - 400.00
                    </div>
                    <img alt="{{home[10].title}}" id="13975" src="{{home[10].thumb}}" width="370"
                        height="260">
                </div>
                <div class="nmEvent">{{home[10].title}}
                    <br>01/12
                    - 03/12
                </div>
            </a>
            <a title="Book {{home[7].title}}" class="singleEvent_2" href="/qatar-world-cup_se_2363.html">
                <div class="image">
                    <span class="cdEventTemplateType">Hot event</span>
                    <div class="info">{{home[7].venue}}
                        <br>Starting from<br>USD&nbsp;
                    </div>
                    <img alt="{{home[7].title}}" id="14046" src="{{home[7].thumb}}" width="370"
                        height="260">
                </div>
                <div class="nmEvent">{{home[7].title}}
                    <br>20/11
                </div>
            </a>
        </div>
        <p class="taCenter">
            <a title="Show more events" class="link_1" href="/all-tickets-on-sale.html">Show more events</a>
        </p>
    </div>
    <div class="showHotEventList oneOnThreeContent">
        <h2 class="text_36 taCenter">Hot Events</h2>
        <p class="text_18 taCenter subTitle">If any of these is your plan, hurry up!</p>
        <div class="list_2">
            <a title="Book {{home[0].title}}" class="singleEvent_2" href="/2-cellos_se_2396.html">
                <div class="image">
                    <div class="info">{{home[0].venue}}
                        <br>Starting from<br>EGP&nbsp;750.00 - 7,000.00
                    </div>
                    <img alt="{{home[0].title}}" id="13738" src="{{home[0].thumb}}" width="370"
                        height="259">
                </div>
                <div class="nmEvent">{{home[0].title}}
                    <br>18/11
                </div>
            </a>
            <a title="Book {{home[7].title}}" class="singleEvent_2" href="/qatar-world-cup_se_2363.html">
                <div class="image">
                    <div class="info">{{home[7].venue}}
                        <br>Starting from<br>USD&nbsp;
                    </div>
                    <img alt="{{home[7].title}}" id="14046" src="{{home[7].thumb}}" width="370"
                        height="260">
                </div>
                <div class="nmEvent">{{home[7].title}}
                    <br>20/11
                </div>
            </a>
            <a title="Book {{home[4].title}}" class="singleEvent_2" href="/non-stop-music-angham_se_2423.html">
                <div class="image">
                    <div class="info">{{home[4].venue}}
                        <br>Starting from<br>EGP&nbsp;1,250.00 - 1,850.00
                    </div>
                    <img alt="{{home[4].title}}" id="13998" src="{{home[4].thumb}}" width="370"
                        height="260">
                </div>
                <div class="nmEvent">{{home[4].title}}
                    <br>02/12
                </div>
            </a>
            <a title="Book {{home[1].title}}" class="singleEvent_2"
                href="/hamaki-concert-at-al-burouj_se_396.html">
                <div class="image">
                    <div class="info">{{home[1].venue}}
                        <br>Starting from<br>EGP&nbsp;400.00
                    </div>
                    <img alt="{{home[1].title}}" id="13934" src="{{home[1].thumb}}"
                        width="370" height="260">
                </div>
                <div class="nmEvent">Hamaki Concert ...
                    <br>25/11
                </div>
            </a>
        </div>
        <p class="taCenter">
            <a title="Show more events" class="link_1" href="/all-tickets-on-sale.html">Show more events</a>
        </p>
    </div>
    <section class="categoryNews"></section>
</div>
