









<div id="cntPage mt-5">
  <div id="cntOutCont">
    <div id="cntInnCont">
      <div class="cntInnContent">
        <div class="navigator">
          <h1 class="text_36">Account register</h1>
          <div class="link_1">
            <span routerLink="/login" class="arrow_yellowBack">BACK</span>
          </div>
        </div>
     

      <div class="register halfCheckout">
        <form [formGroup]="UserRegisterValidation" (ngSubmit)="data() " >
          <div class="inputArea">
            <div class="row">
              <div class="cell twoOfFour">
                <p class="text_14 bold">NEW USER SIGN IN</p>

              </div>
            </div>
            <div class="row">
              <div class="cell twoOfFour">
                <label for="">First Name :</label>
                <input type="text" name="FirstName" formControlName="FirstName" >
                <div style="color: red;" *ngIf="FnameValid && FnameValid.invalid && FnameValid.touched"> *required</div>
              </div>
              <div class="cell twoOfFour">
                <label for="">Last Name :</label>
                  <input type="text" name="LastName" formControlName="LastName"><br>
                    <div style="color: red;" *ngIf="LnameValid && LnameValid.invalid && LnameValid.touched">*required</div>
              </div>
            </div>
            <div class="row">
              <div class="cell twoOfFour">
                <label for="">MOBILE :</label>
                <input type="number" name="phoneNumber" formControlName="phoneNumber">
                <div style="color: red;" *ngIf="LnameValid && LnameValid.invalid && LnameValid.touched">*required</div>

              </div>
              <div class="cell twoOfFour">
                <label for="">GENDER :</label>
                <input type="radio" name="gender"  value="M" id="A.cdSex" formControlName="gender">Male
                <input type="radio" name="gender" value="F" id="A.cdSex" formControlName="gender">Female<br>
              </div>
            </div>

            <div class="row">
              <div class="cell twoOfFour">
                <label>Country :</label>
                <select name="country" formControlName="country">
                  <option></option>
                  <option >EGYPT</option>
                  <option>KSA</option>
                  <option>UAE</option>
                  <option>QATAR</option>
                  <option>KIWAT</option>
                  <option>SUDAN</option>
                </select>
                <!-- <div style="color: red;" *ngIf="LnameValid && LnameValid.invalid && LnameValid.touched">*required</div> -->

              </div>
              <div class="cell twoOfFour">
                <label>City :</label>
                <select name="city" formControlName="city">
                  <option></option>
                  <option>-Forigen Countries</option>
                  <option>CAIRO</option>
                  <option >ALEXANDRIA</option>
                  <option>GIZA</option>
                  <option>ASSUIT</option>
                  <option>ASWAN</option>
                  <option>PORT SAID</option>
                </select><br>
              </div>
            </div>

            <div class="row">
              <div class="cell twoOfFour">
                <label for="">Email :</label>
                <input type="email" name="Email" formControlName="Email" >
                <div style="color: red;" *ngIf="emailValid && emailValid.invalid && emailValid.touched">*required</div>

                <label for="">Re-Enter Email :</label>
                <input type="email" name="Re-Email" formControlName="re_email">
                <div style="color: red;" *ngIf="reEmail && reEmail.invalid && reEmail.touched">*required</div> 
                <!-- <span style="color: red;" *ngIf="reEmail != emailValid"> email does not match</span> <br> -->
              </div>
            </div>

            <div class="row">
              <div class="cell twoOfFour">
                <label for="">Password :</label>
                <input type="password" name="password" formControlName="Password">
                <div style="color: red;" *ngIf="PassValid && PassValid.invalid && PassValid.touched">*required</div>

                <label for="">Confirm Password :</label>
                <input type="password" name="ConfirmPass" formControlName="ConfirmPass">
                <div style="color: red;" *ngIf="confirmValid && confirmValid.invalid && confirmValid.touched">*required</div>
                <!-- <div style="color: red;" *ngIf="confirmValid != PassValid"> password not match</div><br> -->
              </div>
            </div>
              <!-- <div style="color: green;" *ngIf=" confirmValid == PassValid "> match</div> -->

            <div class="row">
              <div class="cell fourOfFour">
                <div class="checkboxRow">
                  <input type="checkbox" name="" formControlName="" checked="checked">I agree with the <a  href="#">privacy policy</a>
                  <div class="checkboxInput checked">&nbsp;</div><br>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="cell fourOfFour">
                <div class="checkboxRow">
                  <input type="checkbox" name="" formControlName="" checked="checked">I agree to the personal data "<a href="#">Terms and conditions</a>".
                  <div class="checkboxInput checked">&nbsp;</div><br>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="cell fourOfFour">
                <div class="checkboxRow">
                  <input type="checkbox" name="" formControlName="" checked="checked">REGISTER TO TICKETSMARCHE NEWSLETTER
                  <div class="checkboxInput checked">&nbsp;</div><br>
                </div>
              </div>
            </div>
            <!-- <div class="row taCenter">
              <script src="https://www.google.com/recaptcha/api.js?hl=en"></script>
              <div class="g-recaptcha">
                <div>
                  <input type="checkbox" name="" formControlName="" checked="checked">i'm not a robot
                  <div class="checkboxInput checked">&nbsp;</div> <br>
                </div>
              </div>
            </div> -->
              <div class="row">
                <button [disabled]="UserRegisterValidation.invalid" class="btn_2" type="submit">
                  <span class="arrow_brown">Register</span>
                </button>
              </div>
          </div>
        </form>
      </div>
  </div>
</div>
</div>
</div>
<!-- <div *ngFor="let x of users">
  <h1>{{x.email}}</h1>
</div> -->
<!-- <h1>{{emailValid}}</h1> -->


