<!-- <p>register works!</p>

<ul>
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="/login">Login</a></li>
  <li><a routerLink="/register">Register</a></li>
  <li><a routerLink="/adminlogin">AdminLogin</a></li>
  <li><a routerLink="/adminregister">AdminRegister</a></li>
</ul> -->

<form [formGroup]="UserRegisterValidation" (ngSubmit)="data()">
  <div class="form-group m-3 d-flex justify-content-center">
    <label for="">First Name :</label>
    <input type="text" name="FirstName" formControlName="FirstName" >
    <!-- <div style="color: red;" *ngIf="FnameValid">*required</div> -->

    <label for="">Last Name :</label>
    <input type="text" name="LastName" formControlName="LastName"><br>
    <!-- <div style="color: red;" *ngIf="LnameValid">*required</div> -->

    <label for="">MOBILE :</label>
    <input type="number" name="mobile" formControlName="phoneNumber">

    <label for="">GENDER :</label>
    <input type="checkbox" name="" formControlName="">Male
    <input type="checkbox" name="" formControlName="">Female<br>

    <label>Country :</label>
    <select >
      <option></option>
      <option>EGYPT</option>
      <option>KSA</option>
      <option>UAE</option>
      <option>QATAR</option>
      <option>KIWAT</option>
      <option>SUDAN</option>
    </select>
    <label>City :</label>
    <select >
      <option></option>
      <option>-Forigen Countries</option>
      <option>CAIRO</option>
      <option>ALEXANDRIA</option>
      <option>GIZA</option>
      <option>ASSUIT</option>
      <option>ASWAN</option>
      <option>PORT SAID</option>
    </select><br>

    <label for="">Email :</label>
    <input type="email" name="Email" formControlName="Email">
    <!-- <div style="color: red;" *ngIf="emailValid ">*required</div> -->

    <label for="">Re-Enter Email :</label>
    <input type="email" name="Re-Email" formControlName="re_email"><br>

    <label for="">Password :</label>
    <input type="password" name="password" formControlName="Password">
    <!-- <div style="color: red;" *ngIf="PassValid">*required</div> -->

    <label for="">Confirm Password :</label>
    <input type="password" name="ConfirmPass" formControlName="ConfirmPass"><br>
    <div style="color: green;" *ngIf=" confirmValid == PassValid "> match</div>
    <input type="checkbox" name="" formControlName="">I agree with the <a  href="#">privacy policy</a><br>
    <input type="checkbox" name="" formControlName="">I agree to the personal data "<a href="#">Terms and conditions</a>".<br>
    <input type="checkbox" name="" formControlName="">REGISTER TO TICKETSMARCHE NEWSLETTER<br>
    <input type="checkbox" name="" formControlName="">i'm not a robot <br>


    <input type="submit" value="register" >
  </div>
</form>
